<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>File: CHANGELOG</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <link rel="stylesheet" href="../../../../../../../../.././rdoc-style.css" type="text/css" media="screen" />
  <script type="text/javascript">
  // <![CDATA[

  function popupCode( url ) {
    window.open(url, "Code", "resizable=yes,scrollbars=yes,toolbar=no,status=no,height=150,width=400")
  }

  function toggleCode( id ) {
    if ( document.getElementById )
      elem = document.getElementById( id );
    else if ( document.all )
      elem = eval( "document.all." + id );
    else
      return false;

    elemStyle = elem.style;
    
    if ( elemStyle.display != "block" ) {
      elemStyle.display = "block"
    } else {
      elemStyle.display = "none"
    }

    return true;
  }
  
  // Make codeblocks hidden by default
  document.writeln( "<style type=\"text/css\">div.method-source-code { display: none }</style>" )
  
  // ]]>
  </script>

</head>
<body>



  <div id="fileHeader">
    <h1>CHANGELOG</h1>
    <table class="header-table">
    <tr class="top-aligned-row">
      <td><strong>Path:</strong></td>
      <td>/usr/local/lib/ruby/gems/1.8/gems/activesupport-3.0.3/CHANGELOG
      </td>
    </tr>
    <tr class="top-aligned-row">
      <td><strong>Last Update:</strong></td>
      <td>Tue Dec 28 11:41:36 -0200 2010</td>
    </tr>
    </table>
  </div>
  <!-- banner header -->

  <div id="bodyContent">



  <div id="contextContent">

    <div id="description">
      <p>
*<a href="../../../../../../../../../classes/Rails.html">Rails</a> 3.0.3
(November 16, 2010)*
</p>
<ul>
<li>No changes.

</li>
</ul>
<p>
*<a href="../../../../../../../../../classes/Rails.html">Rails</a> 3.0.2
(November 15, 2010)*
</p>
<ul>
<li>Added before_remove_const callback to
ActiveSupport::Dependencies.remove_unloadable_constants! [Andrew White]

</li>
</ul>
<p>
*<a href="../../../../../../../../../classes/Rails.html">Rails</a> 3.0.1
(October 15, 2010)*
</p>
<ul>
<li>No changes.

</li>
</ul>
<p>
*<a href="../../../../../../../../../classes/Rails.html">Rails</a> 3.0.0
(August 29, 2010)*
</p>
<ul>
<li>Implemented String#strip_heredoc. [fxn]

</li>
<li>Pluggable cache stores: setting config.cache_store =
&quot;custom_store&quot; will require
&#8216;active_support/cache/custom_store&#8217; and look for the
CustomStore constant. 5486 [Mike Perham]

</li>
<li>Removed <a
href="../../../../../../../../../classes/Object.html#M000007">Object#returning</a>,
Object#tap should be used instead. [Santiago Pastorino]

</li>
<li>Deprecation behavior is no longer hardcoded to the name of the environment.
Instead, it is set via config.active_support.deprecation and can be one of
:log, :stderr or :notify. :notify is a new style that sends the warning via
<a
href="../../../../../../../../../classes/ActiveSupport/Notifications.html">ActiveSupport::Notifications</a>,
and is the new default for production [Yehuda Katz]

</li>
<li>Renamed ActiveSupport::Dependecies.load_(once_)paths to
autoload_(once_)paths. [fxn]

</li>
<li>Added <a
href="../../../../../../../../../classes/ActiveSupport/FileUpdateChecker.html">ActiveSupport::FileUpdateChecker</a>
to execute a block only if a set of files changed, used by Router and <a
href="../../../../../../../../../classes/I18n.html">I18n</a> locale files.
[José Valim]

</li>
<li>Added <a
href="../../../../../../../../../classes/ActiveSupport/DescendantsTracker.html">ActiveSupport::DescendantsTracker</a>
to track descendants with support to constants reloading. [José Valim]

</li>
<li>ActiveSupport::OrderedHash#merge and merge! accept a block. 4838 [Paul
Mucur, fxn]

</li>
<li>Date#since, ago, beginning_of_day, end_of_day, and xmlschema honor now the
user time zone if set. [Geoff Buesing]

</li>
<li>Extracted String#truncate from TextHelper#truncate [DHH]

</li>
<li>Ruby 1.9: support UTF-8 case folding. 4595 [Norman Clarke]

</li>
<li>Removes Array#rand and backports Array#sample from Ruby 1.9, thanks to
Marc-Andre Lafortune. [fxn]

</li>
<li>Ruby 1.9: Renames last_(month|year) to prev_(month|year) in Date and <a
href="../../../../../../../../../classes/Time.html">Time</a>. [fxn]

</li>
<li>Aliases Date#sunday to Date#end_of_week. [fxn]

</li>
<li>Backports Date#&gt;&gt; from 1.9 so that calculations do the right thing
around the calendar reform. [fxn]

</li>
<li>Date#to_time handles properly years in the range 0..138. [fxn]

</li>
<li>Deprecate {{}} as interpolation syntax for <a
href="../../../../../../../../../classes/I18n.html">I18n</a> in favor of
%{} [José Valim]

</li>
<li>Array#to_xml is more powerful and able to handle the same types as
Hash#to_xml 4490 [Neeraj Singh]

</li>
<li>Harmonize the caching API and refactor the backends. 4452 [Brian Durand]
All caches:

<ul>
<li>Add default options to initializer that will be sent to all read, write,
fetch, exist?, increment, and decrement

</li>
<li>Add support for the :expires_in option to fetch and write for all caches.
Cache entries are stored with the create timestamp and a ttl so that
expiration can be handled independently of the implementation.

</li>
<li>Add support for a :namespace option. This can be used to set a global
prefix for cache entries.

</li>
<li>Deprecate expand_cache_key on <a
href="../../../../../../../../../classes/ActiveSupport/Cache.html">ActiveSupport::Cache</a>
and move it to <a
href="../../../../../../../../../classes/ActionController/Caching.html">ActionController::Caching</a>
and ActionDispatch::Http::Cache since the logic in the method used some <a
href="../../../../../../../../../classes/Rails.html">Rails</a> specific
environment variables and was only used by ActionPack classes. Not very DRY
but there didn&#8216;t seem to be a good shared spot and ActiveSupport
really shouldn&#8216;t be <a
href="../../../../../../../../../classes/Rails.html">Rails</a> specific.

</li>
<li>Add support for :race_condition_ttl to fetch. This setting can prevent race
conditions on fetch calls where several processes try to regenerate a
recently expired entry at once.

</li>
<li>Add support for :compress option to fetch and write which will compress any
data over a configurable threshold.

</li>
<li>Nil values can now be stored in the cache and are distinct from cache
misses for fetch.

</li>
<li>Easier API to create new implementations. Just need to implement the
methods read_entry, write_entry, and delete_entry instead of overwriting
existing methods.

</li>
<li>Since all cache implementations support storing objects, update the docs to
state that ActiveCache::Cache::Store implementations should store objects.
Keys, however, must be strings since some implementations require that.

</li>
<li>Increase test coverage.

</li>
<li>Document methods which are provided as convenience but which may not be
universally available.

</li>
</ul>
<p>
MemoryStore:
</p>
<ul>
<li>MemoryStore can now safely be used as the cache for single server sites.

</li>
<li>Make thread safe so that the default cache implementation used by <a
href="../../../../../../../../../classes/Rails.html">Rails</a> is thread
safe. The overhead is minimal and it is still the fastest store available.

</li>
<li>Provide :size initialization option indicating the maximum size of the
cache in memory (defaults to 32Mb).

</li>
<li>Add prune logic that removes the least recently used cache entries to keep
the cache size from exceeding the max.

</li>
<li>Deprecated SynchronizedMemoryStore since it isn&#8216;t needed anymore.

</li>
</ul>
<p>
FileStore:
</p>
<ul>
<li>Escape key values so they will work as file names on all file systems, be
consistent, and case sensitive

</li>
<li>Use a hash algorithm to segment the cache into sub directories so that a
large cache doesn&#8216;t exceed file system limits.

</li>
<li>FileStore can be slow so implement the LocalCache strategy to cache reads
for the duration of a request.

</li>
<li>Add cleanup method to keep the disk from filling up with expired entries.

</li>
<li>Fix increment and decrement to use file system locks so they are consistent
between processes.

</li>
</ul>
<p>
MemCacheStore:
</p>
<ul>
<li>Support all keys. Previously keys with spaces in them would fail

</li>
<li>Deprecate CompressedMemCacheStore since it isn&#8216;t needed anymore (use
:compress =&gt; true)

</li>
</ul>
</li>
<li>JSON: encode objects that don&#8216;t have a native JSON representation
using to_hash, if available, instead of instance_values (the old fallback)
or to_s (other encoders&#8217; default). Encode <a
href="../../../../../../../../../classes/BigDecimal.html">BigDecimal</a>
and Regexp encode as strings to conform with other encoders. Try to
transcode non-UTF-8 strings. [Jeremy Kemper]

</li>
<li>HashWithIndifferentAccess: remove inherited symbolize_keys! since its keys
are always strings. [Santiago Pastorino]

</li>
<li>Improve transliteration quality. 4374 [Norman Clarke]

</li>
<li>Speed up and add Ruby 1.9 support for
ActiveSupport::Multibyte::Chars#tidy_bytes. 4350 [Norman Clarke]

</li>
<li>Reduced load time by deferring configuration of classes using
ActiveSupport::on_load(:component_name) [YK]

</li>
<li>Rename metaclass to singleton_class now that ruby-core has decided [JK]

</li>
<li>New assertions assert_blank and assert_present. 4299 [Juanjo Bazan]

</li>
<li>Use Object#singleton_class instead of metaclass. Prefer Ruby&#8216;s
choice. [Jeremy Kemper]

</li>
<li>JSON backend for YAJL. Preferred if available. 2666 [Brian Lopez]

</li>
<li>Introduce class_attribute to declare inheritable class attributes. Writing
an attribute on a subclass behaves just like overriding the superclass
reader method. Unifies and replaces most usage of cattr_accessor,
class_inheritable_attribute, superclass_delegating_attribute, and
extlib_inheritable_attribute. [Jeremy Kemper, Yehuda Katz]

</li>
<li><a href="../../../../../../../../../classes/Time.html">Time</a>#- with a <a
href="../../../../../../../../../classes/DateTime.html">DateTime</a>
argument behaves the same as with a <a
href="../../../../../../../../../classes/Time.html">Time</a> argument, i.e.
returns the difference between self and arg as a <a
href="../../../../../../../../../classes/Float.html">Float</a> 3476 [Geoff
Buesing]

</li>
<li>YAML serialization for OrderedHash. 3608 [Gregor Schmidt]

</li>
<li>Update bundled TZInfo to v0.3.16 [Geoff Buesing]

</li>
<li>Georgetown TimeZone is now mapped to &quot;America/Guyana&quot; instead of
&quot;America/Argentina/San_Juan&quot; 1821 [Geoff Buesing, Reuben Sivan]

</li>
<li>Changed the default ActiveSupport.use_standard_json_time_format from false
to true and

</li>
</ul>
<p>
ActiveSupport.escape_html_entities_in_json from true to false to match
previously announced <a
href="../../../../../../../../../classes/Rails.html">Rails</a> 3 defaults
[DHH]
</p>
<ul>
<li>Added <a
href="../../../../../../../../../classes/Object.html#M000011">Object#presence</a>
that returns the object if it&#8216;s present? otherwise returns nil
[DHH/Colin Kelley]

</li>
<li>Add Enumerable#exclude? to bring parity to Enumerable#include? and avoid if
!x.include?/else calls [DHH]

</li>
<li>Update Edinburgh TimeZone to use &quot;Europe/London&quot; instead of
&quot;Europe/Dublin&quot; 3310 [Phil Ross]

</li>
<li>Update bundled TZInfo to v0.3.15 [Geoff Buesing]

</li>
<li>JSON: +Object#to_json+ calls <tt>as_json</tt> to coerce itself into
something natively encodable like <tt>Hash</tt>, <tt><a
href="../../../../../../../../../classes/Integer.html">Integer</a></tt>, or
<tt>String</tt>. Override <tt>as_json</tt> instead of <tt>to_json</tt> so
you&#8216;re JSON library agnostic. [Jeremy Kemper]

</li>
<li>String to_time and to_datetime: handle fractional seconds 864 [Jason Frey]

</li>
<li>Update bundled TZInfo to v0.3.13 [Geoff Buesing]

</li>
<li>Allow MemCacheStore to be initialized with a MemCache-like object instead
of addresses and options [Bryan Helmkamp]

</li>
<li>Change spelling of Kyev timezone to Kyiv 2613 [Alexander Dymo]

</li>
<li>Add ActiveSupport.parse_json_times to disable time parsing in JSON backends
that don&#8216;t support it or don&#8216;t need it. [rick]

</li>
<li>Add pluggable JSON backends with support for the JSON gem. [rick]

<pre>
  Example: ActiveSupport::JSON.backend = &quot;JSONGem&quot;

 All internal Rails JSON encoding is now handled by ActiveSupport::JSON.encode().  Use of #to_json is not recommended, as it may clash with other libraries that overwrite it.  However, you can recover Rails specific functionality
 if you really want to use #to_json.

    gem 'json'
    ActiveSupport::JSON.backend = &quot;JSONGem&quot;

    class ActiveRecord::Base
      alias to_json rails_to_json
    end
</pre>
</li>
<li>require &#8216;active_support&#8217; no longer orders the whole menu of
core extensions. Ask for just what you need: e.g. require
&#8216;active_support/core/time&#8217; to use timezones, durations, and
stdlib date/time extensions. [Jeremy Kemper]

</li>
<li>Removed rarely-used DRb cache store. [Jeremy Kemper]

</li>
<li>TimeWithZone.name returns &#8216;<a
href="../../../../../../../../../classes/Time.html">Time</a>&#8217;, to
further thwart type checking [Geoff Buesing]

</li>
<li>Time.local instances: Adding 24.hours across the DST boundary adds 24 hours
instead of one day 2066 [Michael Curtis]

</li>
</ul>
<p>
*2.3.2 [Final] (March 15, 2009)*
</p>
<ul>
<li>XmlMini supports LibXML and Nokogiri backends. 2084, 2190 [Bart ten Brinke,
Aaron Patterson]

<pre>
  Example: XmlMini.backend = 'Nokogiri'
</pre>
</li>
<li>Vendorize i18n 0.1.3 gem (fixes issues with incompatible character
encodings in Ruby 1.9) 2038 [Akira Matsuda]

</li>
<li>Update bundled memcache-client from 1.5.0.5 to 1.6.4.99. See <a
href="http://www.mikeperham.com/2009/02/15/memcache-client-performance">www.mikeperham.com/2009/02/15/memcache-client-performance</a>/
[Mike Perham]

</li>
<li>Ruby 1.9.1p0 fix: URI.unescape can decode multibyte chars. 2033 [MOROHASHI
Kyosuke]

</li>
<li><a
href="../../../../../../../../../classes/Time.html#M000029">Time#to_s</a>(:rfc822)
uses formatted_offset instead of unreliable and non-standard %z directive
1899 [Zachary Zolton]

</li>
<li>Make TimeWithZone#to_formatted_s an alias to TimeWithZone#to_s 1796 [Levin
Alexander]

</li>
<li>Introduce Array.wrap(foo) to wrap the argument in an array unless
it&#8216;s already an array. Wraps nil as an empty array. Use instead of
Array(foo) and foo.to_a since they treat String as <a
href="../../../../../../../../../classes/Enumerable.html">Enumerable</a>.
[Jeremy Kemper]

</li>
<li>TimeWithZone#xmlschema accepts optional fraction_digits argument [1725
state:resolved] [Nicholas Dainty]

</li>
<li>Object#tap shim for Ruby &lt; 1.8.7. Similar to <a
href="../../../../../../../../../classes/Object.html#M000007">Object#returning</a>,
tap yields self then returns self. [Jeremy Kemper]

<pre>
  array.select { ... }.tap(&amp;:inspect).map { ... }
</pre>
</li>
<li>TimeWithZone#- gives correct result with wrapped <a
href="../../../../../../../../../classes/DateTime.html">DateTime</a>, and
with <a
href="../../../../../../../../../classes/DateTime.html">DateTime</a>
argument [Geoff Buesing]

</li>
<li>Updated i18n gem to version 0.1.1 1635 [Yaroslav Markin]

</li>
<li>Add :allow_nil option to delegate. 1127 [Sergio Gil]

</li>
<li>Add Benchmark.ms convenience method to benchmark realtime in milliseconds.
[Jeremy Kemper]

</li>
<li>Updated included memcache-client to the 1.5.0.5 version which includes
fixes from fiveruns and 37signals to deal with failover and timeouts 1535
[Joshua Sierles]

</li>
<li>Multibyte: add multibyte-safe Chars#ord rather than falling back to
String#ord. 1483 [Jason Cheow]

</li>
<li><a href="../../../../../../../../../classes/I18n.html">I18n</a> support for
Array#to_sentence. Introduces support.array.words_connector,
.two_words_connector, and .last_word_connector translation keys. 1397
[Akira Matsuda]

</li>
<li>Added ActiveSupport::OrderedHash#each_key and
ActiveSupport::OrderedHash#each_value 1410 [Christoffer Sawicki]

</li>
<li>Added <a
href="../../../../../../../../../classes/ActiveSupport/MessageVerifier.html">ActiveSupport::MessageVerifier</a>
and MessageEncryptor to aid users who need to store signed and/or encrypted
messages. [Michael Koziarski]

</li>
<li>Added <a
href="../../../../../../../../../classes/ActiveSupport/BacktraceCleaner.html">ActiveSupport::BacktraceCleaner</a>
to cut down on backtrace noise according to filters and silencers [David
Heinemeier Hansson]

</li>
<li>Added <a
href="../../../../../../../../../classes/Object.html#M000005">Object#try</a>.
( Taken from <a
href="http://ozmm.org/posts/try.html">ozmm.org/posts/try.html</a> ) [Chris
Wanstrath]

</li>
<li>Added Enumerable#none? to check that none of the elements match the block
1408 [Damian Janowski]

</li>
<li>TimeZone offset tests: use current_period, to ensure TimeZone#utc_offset is
up-to-date [Geoff Buesing]

</li>
<li>Update bundled TZInfo to 0.3.12 [Geoff Buesing]

</li>
<li>Added lambda merging to OptionMerger (especially useful with named_scope
and with_options) 726 [Paweł Kondzior]

</li>
</ul>
<p>
*2.2.1 [RC2] (November 14th, 2008)*
</p>
<ul>
<li>Increment the version of our altered memcache-client to prevent confusion
caused when the 1.5.0 gem is installed.

</li>
<li>Fixed the option merging in Array#to_xml 1126 [Rudolf Gavlas]

</li>
<li>Make I18n::Backend::Simple reload its translations in development mode
[David Heinemeier Hansson/Sven Fuchs]

</li>
</ul>
<p>
*2.2.0 [RC1] (October 24th, 2008)*
</p>
<ul>
<li>TimeWithZone#freeze: preload instance variables so that we can actually
freeze [Geoff Buesing]

</li>
<li>Fix Brasilia timezone 1180 [Marcus Derencius, Kane]

</li>
<li><a
href="../../../../../../../../../classes/Time.html#M000049">Time#advance</a>
recognizes fractional days and weeks. Deprecate Durations of fractional
months and years 970 [Tom Lea]

</li>
<li>Add <a
href="../../../../../../../../../classes/ActiveSupport/Rescuable.html">ActiveSupport::Rescuable</a>
module abstracting <a
href="../../../../../../../../../classes/ActionController/Base.html">ActionController::Base</a>
rescue_from features. [Norbert Crombach, Pratik Naik]

</li>
<li>Switch from String#chars to String#mb_chars for the unicode proxy. [Manfred
Stienstra]

<p>
This helps with 1.8.7 compatibility and also improves performance for some
operations by reducing indirection.
</p>
</li>
<li>TimeWithZone wday, yday and to_date avoid trip through method_missing
[Geoff Buesing]

</li>
<li>Added <a href="../../../../../../../../../classes/Time.html">Time</a>,
Date, <a
href="../../../../../../../../../classes/DateTime.html">DateTime</a> and
TimeWithZone past?, future? and today? 720 [Clemens Kofler, Geoff Buesing]

</li>
<li>Fixed Sri Jayawardenepura time zone to map to Asia/Colombo [Jamis Buck]

</li>
<li>Added Inflector#parameterize for easy slug generation (&quot;Donald E.
Knuth&quot;.parameterize =&gt; &quot;donald-e-knuth&quot;) 713 [Matt Darby]

</li>
<li>Changed cache benchmarking to be reported in milliseconds [David Heinemeier
Hansson]

</li>
<li>Fix Ruby&#8216;s <a
href="../../../../../../../../../classes/Time.html">Time</a> marshaling bug
in pre-1.9 versions of Ruby: utc instances are now correctly unmarshaled
with a utc zone instead of the system local zone [900 state:resolved] [Luca
Guidi, Geoff Buesing]

</li>
<li>Add Array#in_groups which splits or iterates over the array in specified
number of groups. 579. [Adrian Mugnolo] Example:

<p>
a = (1..10).to_a a.in_groups(3) # =&gt; [[1, 2, 3, 4], [5, 6, 7, nil], [8,
9, 10, nil]] a.in_groups(3, false) # =&gt; [[1, 2, 3, 4], [5, 6, 7], [8, 9,
10]]
</p>
</li>
<li>Fix TimeWithZone unmarshaling: coerce unmarshaled <a
href="../../../../../../../../../classes/Time.html">Time</a> instances to
utc, because Ruby&#8216;s marshaling of <a
href="../../../../../../../../../classes/Time.html">Time</a> instances
doesn&#8216;t respect the zone [Geoff Buesing]

</li>
<li>Added Memoizable mixin for caching simple lazy loaded attributes [Josh
Peek]

</li>
<li>Move the test related core_ext stuff out of core_ext so it&#8216;s only
loaded by the test helpers. [Michael Koziarski]

</li>
<li>Add Inflection rules for String#humanize. 535 [Dan Manges]

<p>
ActiveSupport::Inflector.inflections do |inflect|
</p>
<pre>
  inflect.human(/_cnt$/i, '\1_count')
</pre>
<p>
end
</p>
<p>
&#8216;jargon_cnt&#8217;.humanize # =&gt; &#8216;Jargon count&#8216;
</p>
</li>
<li>TimeWithZone: when crossing DST boundary, treat Durations of days, months
or years as variable-length, and all other values as absolute length. A
time + 24.hours will advance exactly 24 hours, but a time + 1.day will
advance 23-25 hours, depending on the day. Ensure consistent behavior
across all advancing methods [Geoff Buesing]

</li>
<li>Added TimeZone #=~, to support matching zones by regex in time_zone_select.
195 [Ernie Miller]

</li>
<li>Added Array#second through Array#fifth as aliases for Array#[1] through
Array#[4] + Array#forty_two as alias for Array[41] [David Heinemeier
Hansson]

</li>
<li>Added test/do declaration style testing to <a
href="../../../../../../../../../classes/ActiveSupport/TestCase.html">ActiveSupport::TestCase</a>
[DHH via Jay Fields]

</li>
<li>Added Object#present? which is equivalent to !Object#blank? [David
Heinemeier Hansson]

</li>
<li>Added Enumberable#many? to encapsulate collection.size &gt; 1 [David
Heinemeier Hansson/Damian Janowski]

</li>
<li>Add more standard Hash methods to ActiveSupport::OrderedHash [Steve
Purcell]

</li>
<li>Namespace Inflector, Dependencies, OrderedOptions, and TimeZone under
ActiveSupport [Josh Peek]

</li>
<li>Added StringInquirer for doing things like
StringInquirer.new(&quot;production&quot;).production? # =&gt; true and
StringInquirer.new(&quot;production&quot;).development? # =&gt; false
[David Heinemeier Hansson]

</li>
<li>Fixed Date#end_of_quarter to not blow up on May 31st [289 state:resolved]
(Danger)

</li>
</ul>
<p>
*2.1.0 (May 31st, 2008)*
</p>
<ul>
<li>TimeZone#to_s shows offset as GMT instead of UTC, because GMT will be more
familiar to end users (see time zone selects used by Windows OS, google.com
and yahoo.com.) Reverts [8370] [Geoff Buesing]

</li>
<li>Hash.from_xml: datetime xml types overflow to Ruby <a
href="../../../../../../../../../classes/DateTime.html">DateTime</a> class
when out of range of <a
href="../../../../../../../../../classes/Time.html">Time</a>. Adding tests
for utc offsets [Geoff Buesing]

</li>
<li>TimeWithZone #+ and #- : ensure overflow to <a
href="../../../../../../../../../classes/DateTime.html">DateTime</a> with
Numeric arg [Geoff Buesing]

</li>
<li>Time#to_json: don&#8216;t convert to utc before encoding. References 175
[Geoff Buesing]

</li>
<li>Remove unused JSON::RESERVED_WORDS, JSON.valid_identifier? and
JSON.reserved_word? methods. Resolves 164. [Cheah Chu Yeow]

</li>
<li>Adding Date.current, which returns <a
href="../../../../../../../../../classes/Time.html#M000034">Time.zone</a>.today
if config.time_zone is set; otherwise returns Date.today [Geoff Buesing]

</li>
<li>TimeWithZone: date part getter methods (year mon day etc) are defined on
class; no longer relying on method_missing [Geoff Buesing]

</li>
<li><a
href="../../../../../../../../../classes/Time.html#M000034">Time.zone</a>.parse
return nil for strings with no date information [Geoff Buesing]

</li>
<li><a
href="../../../../../../../../../classes/Time.html#M000034">Time.zone</a>.parse
respects offset information in string. Resolves 105. [Scott Fleckenstein,
Geoff Buesing]

</li>
<li>Added Ruby 1.8 implementation of <a
href="../../../../../../../../../classes/Process.html#M002013">Process.daemon</a>

</li>
<li>Duration since and ago with no argument (e.g., 5.days.ago) return
TimeWithZone when config.time_zone is set. Introducing <a
href="../../../../../../../../../classes/Time.html#M000043">Time.current</a>,
which returns <a
href="../../../../../../../../../classes/Time.html#M000034">Time.zone</a>.now
if config.time_zone is set, otherwise just returns Time.now [Geoff Buesing]

</li>
<li><a
href="../../../../../../../../../classes/Time.html#M000051">Time#since</a>
behaves correctly when passed a Duration. Closes 11527 [kemiller]

</li>
<li>Add getutc alias for <a
href="../../../../../../../../../classes/DateTime.html#M000128">DateTime#utc</a>
[Geoff Buesing]

</li>
<li>Refactor TimeWithZone: don&#8216;t send since, ago, #+, #-, advance through
method_missing [Geoff Buesing]

</li>
<li>TimeWithZone respects config.active_support.use_standard_json_time_format
[Geoff Buesing]

</li>
<li>Add config.active_support.escape_html_entities_in_json to allow disabling
of html entity escaping. [Rick Olson]

</li>
<li>Improve documentation. [Xavier Noria]

</li>
<li>Modified ActiveSupport::Callbacks::Callback#call to accept multiple
arguments.

</li>
<li><a href="../../../../../../../../../classes/Time.html">Time</a> yesterday
and tomorrow behave correctly crossing DST boundary. Closes 7399
[sblackstone]

</li>
<li>TimeWithZone: Adding tests for dst and leap day edge cases when advancing
time [Geoff Buesing]

</li>
<li>TimeWithZone#method_missing: send to utc to advance with dst correctness,
otherwise send to time. Adding tests for time calculations methods [Geoff
Buesing]

</li>
<li>Add config.active_support.use_standard_json_time_format setting so that
Times and Dates export to ISO 8601 dates. [Rick Olson]

</li>
<li>TZInfo: Removing unneeded TimezoneProxy class [Geoff Buesing]

</li>
<li>TZInfo: Removing unneeded TimezoneIndexDefinition, since we&#8216;re not
including Indexes::Timezones [Geoff Buesing]

</li>
<li>Removing unnecessary uses_tzinfo helper from tests, given that TZInfo is
now bundled [Geoff Buesing]

</li>
<li>Bundling abbreviated version of TZInfo gem 0.3.8: only the classes and zone
definitions required to support <a
href="../../../../../../../../../classes/Rails.html">Rails</a> time zone
features are included. If a recent version of the full TZInfo gem is
installed, this will take precedence over the bundled version [Geoff
Buesing]

</li>
<li>TimeWithZone#marshal_load does zone lookup via Time.get_zone, so that
tzinfo/Olson identifiers are handled [Geoff Buesing]

</li>
<li><a
href="../../../../../../../../../classes/Time.html#M000034">Time.zone</a>=
accepts TZInfo::Timezone instances and Olson identifiers; wraps result in
TimeZone instance [Geoff Buesing]

</li>
<li>TimeWithZone time conversions don&#8216;t need to be wrapped in
TimeOrDateTime, because TZInfo does this internally [Geoff Buesing]

</li>
<li>TimeWithZone#usec returns 0 instead of error when <a
href="../../../../../../../../../classes/DateTime.html">DateTime</a> is
wrapped [Geoff Buesing]

</li>
<li>Improve documentation. [Ryan Bigg, Jan De Poorter, Cheah Chu Yeow, Xavier
Shay, Jack Danger Canty, Emilio Tagua, Xavier Noria, Sunny Ripert]

</li>
<li>Ensure that TimeWithZone#to_yaml works when passed a YAML::Emitter. [Rick
Olson]

</li>
<li>Ensure correct TimeWithZone#to_date [Geoff Buesing]

</li>
<li>Make TimeWithZone work with tzinfo 0.2.x: use
TZInfo::Timezone#zone_identifier alias for abbreviation, silence warnings
on tests. Raise <a
href="../../../../../../../../../classes/LoadError.html">LoadError</a> when
TZInfo version is &lt; 0.2 by sniffing for TZInfo::TimeOrDateTime constant.
Move all tzinfo-dependent TimeZone tests into uses_tzinfo block [Geoff
Buesing]

</li>
<li><a href="../../../../../../../../../classes/Time.html">Time</a>, <a
href="../../../../../../../../../classes/DateTime.html">DateTime</a> and
TimeWithZone in_time_zone defaults to <a
href="../../../../../../../../../classes/Time.html#M000034">Time.zone</a>.
Removing now unneeded in_current_time_zone [Geoff Buesing]

</li>
<li>TZInfo caches Timezone instances in its own internal hash cache, so
TimeZone::MAPPING doesn&#8216;t need to cache them as well [Geoff Buesing]

</li>
<li>Adding TimeZone#parse [Geoff Buesing]

</li>
<li>Adding TimeZone#at and <a
href="../../../../../../../../../classes/DateTime.html#M000110">DateTime#to_f</a>
[Geoff Buesing]

</li>
<li>TimeWithZone responds to Ruby 1.9 weekday-named query methods [Geoff
Buesing]

</li>
<li>TimeWithZone caches TZInfo::TimezonePeriod used for time conversion so that
it can be reused, and enforces DST rules correctly when instance is created
from a local time [Geoff Buesing]

</li>
<li>Fixed that BufferedLogger should create its own directory if one
doesn&#8216;t already exist 11285 [lotswholetime]

</li>
<li>Fix Numeric time tests broken by DST change by anchoring them to fixed
times instead of Time.now. Anchor TimeZone#now DST test to time specified
with Time.at instead of Time.local to work around platform differences with
Time.local and DST representation [Geoff Buesing]

</li>
<li>Removing unneeded change_time_zone method from <a
href="../../../../../../../../../classes/Time.html">Time</a>, <a
href="../../../../../../../../../classes/DateTime.html">DateTime</a> and
TimeWithZone [Geoff Buesing]

</li>
<li>TimeZone local and now correctly enforce DST rules [Geoff Buesing]

</li>
<li>TimeWithZone instances correctly enforce DST rules. Adding
TimeZone#period_for_utc [Geoff Buesing]

</li>
<li>test_time_with_datetime_fallback expects <a
href="../../../../../../../../../classes/DateTime.html#M000113">DateTime.local_offset</a>
instead of DateTime.now.offset [Geoff Buesing]

</li>
<li>Adding TimeWithZone marshal_dump and marshal_load [Geoff Buesing]

</li>
<li>Add OrderedHash#to_hash [Josh Peek]

</li>
<li>Adding <a
href="../../../../../../../../../classes/Time.html#M000071">Time#end_of_day</a>,
_quarter, _week, and _year. 9312 [Juanjo Bazan, Tarmo Tänav, BigTitus]

</li>
<li>Adding TimeWithZone#between? [Geoff Buesing]

</li>
<li><a href="../../../../../../../../../classes/Time.html">Time</a>.=== returns
true for TimeWithZone instances [Geoff Buesing]

</li>
<li>TimeWithZone #+ and #- behave consistently with numeric arguments
regardless of whether wrapped time is a <a
href="../../../../../../../../../classes/Time.html">Time</a> or <a
href="../../../../../../../../../classes/DateTime.html">DateTime</a>;
consistenty answers false to acts_like?(:date) [Geoff Buesing]

</li>
<li>Add String#squish and String#squish! to remove consecutive chunks of
whitespace. 11123 [Jordi Bunster, Henrik N]

</li>
<li>Serialize BigDecimals as Floats when using to_yaml. 8746 [Ernesto Jimenez]

</li>
<li>Adding TimeWithZone to_yaml, to_datetime, eql? and method aliases for
duck-typing compatibility with <a
href="../../../../../../../../../classes/Time.html">Time</a> [Geoff
Buesing]

</li>
<li>TimeWithZone in_time_zone returns <tt>self</tt> if zone argument is the
same as time_zone [Geoff Buesing]

</li>
<li>Adding TimeWithZone to_a, to_f, to_i, httpdate, rfc2822 [Geoff Buesing]

</li>
<li>Pruning unneeded TimeWithZone#change_time_zone_to_current [Geoff Buesing]

</li>
<li><a
href="../../../../../../../../../classes/Time.html#M000034">Time#zone</a>=,
in_time_zone and change_time_zone accept a Duration [Geoff Buesing]

</li>
<li><a
href="../../../../../../../../../classes/Time.html#M000037">Time#in_time_zone</a>
handles Time.local instances correctly [Geoff Buesing]

</li>
<li>Pruning unneeded Time#change_time_zone_to_current. Enhanced docs to
change_time_zone to explain the difference between this method and
in_time_zone [Geoff Buesing]

</li>
<li>TimeZone#new method renamed local; when used with <a
href="../../../../../../../../../classes/Time.html#M000034">Time.zone</a>,
constructor now reads: <a
href="../../../../../../../../../classes/Time.html#M000034">Time.zone</a>.local()
[Geoff Buesing]

</li>
<li>Added Base64.encode64s to encode values in base64 without the newlines.
This makes the values immediately usable as URL parameters or memcache keys
without further processing [David Heinemeier Hansson]

</li>
<li>Remove :nodoc: entries around the ActiveSupport test/unit assertions. 10946
[dancroak, jamesh]

</li>
<li>Add Time.zone_default accessor for setting the default time zone.
Rails::Configuration.time_zone sets this. 10982 [Geoff Buesing]

</li>
<li>cache.fetch(key, :force =&gt; true) to force a cache miss. [Jeremy Kemper]

</li>
<li>Support retrieving TimeZones with a Duration. TimeZone[-28800] == <a
href="http://-480.minutes">TimeZone</a>. [Rick Olson]

</li>
<li>TimeWithZone#- added, so that #- can handle a <a
href="../../../../../../../../../classes/Time.html">Time</a> or
TimeWithZone argument correctly [Geoff Buesing]

</li>
<li>with_timezone test helper renamed with_env_tz, to distinguish between
setting ENV[&#8216;TZ&#8217;] and setting <a
href="../../../../../../../../../classes/Time.html#M000034">Time.zone</a>
in tests [Geoff Buesing]

</li>
<li><a href="../../../../../../../../../classes/Time.html">Time</a>#- coerces
TimeWithZone argument to a <a
href="../../../../../../../../../classes/Time.html">Time</a> instance so
that difference in seconds can be calculated. Closes 10914 [Geoff Buesing,
yyyc514]

</li>
<li>Adding UTC zone to TimeZone; TimeWithZone no longer has to fake UTC zone
with nil [Geoff Buesing]

</li>
<li>Time.get_zone refactored to private method, given that the encapsulated
logic is only useful internally [Geoff Buesing]

</li>
<li><a
href="../../../../../../../../../classes/Time.html#M000034">Time.zone</a>
uses thread-local variable for thread safety. Adding <a
href="../../../../../../../../../classes/Time.html#M000036">Time.use_zone</a>,
for overriding <a
href="../../../../../../../../../classes/Time.html#M000034">Time.zone</a>
locally inside a block. Removing unneeded Time.zone_reset! [Geoff Buesing]

</li>
<li>TimeZone#to_s uses UTC rather than GMT; reapplying change that was undone
in [8679]. 1689 [Cheah Chu Yeow]

</li>
<li><a
href="../../../../../../../../../classes/Time.html#M000039">Time.days_in_month</a>
defaults to current year if no year is supplied as argument 10799 [Radar],
uses Date.gregorian_leap? to determine leap year, and uses constant lookup
to determine days in month [Geoff Buesing]

</li>
<li>Adding <a href="../../../../../../../../../classes/Time.html">Time</a> and
<a href="../../../../../../../../../classes/DateTime.html">DateTime</a>
compare_with_coercion, which layers behavior on #&lt;=&gt; so that any
combination of <a
href="../../../../../../../../../classes/Time.html">Time</a>, <a
href="../../../../../../../../../classes/DateTime.html">DateTime</a> and <a
href="../../../../../../../../../classes/ActiveSupport/TimeWithZone.html">ActiveSupport::TimeWithZone</a>
instances can be chronologically compared [Geoff Buesing]

</li>
<li>TimeZone#now returns an <a
href="../../../../../../../../../classes/ActiveSupport/TimeWithZone.html">ActiveSupport::TimeWithZone</a>
[Geoff Buesing]

</li>
<li><a href="../../../../../../../../../classes/Time.html">Time</a>
in_current_time_zone and change_time_zone_to_current return self when <a
href="../../../../../../../../../classes/Time.html#M000034">Time.zone</a>
is nil [Geoff Buesing]

</li>
<li>Remove unneeded to_datetime_default_s alias for <a
href="../../../../../../../../../classes/DateTime.html#M000101">DateTime#to_s</a>,
given that we inherit a to_default_s from Date that does exactly the same
thing [Geoff Buesing]

</li>
<li>Refactor <a href="../../../../../../../../../classes/Time.html">Time</a>
and <a href="../../../../../../../../../classes/DateTime.html">DateTime</a>
to_formatted_s: use ternary instead of nested if/else [Geoff Buesing]

</li>
<li>Adding <a href="../../../../../../../../../classes/Time.html">Time</a> and
<a href="../../../../../../../../../classes/DateTime.html">DateTime</a>
formatted_offset, for outputting +HH:MM utc offset strings with
cross-platform consistency [Geoff Buesing]

</li>
<li>Adding alternate_utc_string option to TimeZone#formatted_offset. Removing
unneeded TimeZone#offset. [Geoff Buesing]

</li>
<li>Introduce <a
href="../../../../../../../../../classes/ActiveSupport/TimeWithZone.html">ActiveSupport::TimeWithZone</a>,
for wrapping <a
href="../../../../../../../../../classes/Time.html">Time</a> instances with
a TimeZone. Introduce instance methods to <a
href="../../../../../../../../../classes/Time.html">Time</a> for creating
TimeWithZone instances, and class methods for managing a global time zone.
[Geoff Buesing]

</li>
<li>Replace non-dst-aware TimeZone class with dst-aware class from
tzinfo_timezone plugin. TimeZone#adjust and unadjust are no longer
available; tzinfo gem must now be present in order to perform time zone
calculations, via local_to_utc and utc_to_local methods. [Geoff Buesing]

</li>
<li>Extract <a
href="../../../../../../../../../classes/ActiveSupport/Callbacks.html">ActiveSupport::Callbacks</a>
from Active Record, test case setup and teardown, and <a
href="../../../../../../../../../classes/ActionController/Dispatcher.html">ActionController::Dispatcher</a>.
10727 [Josh Peek]

</li>
<li>Introducing <a
href="../../../../../../../../../classes/DateTime.html">DateTime</a> utc,
utc? and utc_offset, for duck-typing compatibility with <a
href="../../../../../../../../../classes/Time.html">Time</a>. Closes 10002
[Geoff Buesing]

</li>
<li>Time#to_json uses Numeric#to_utc_offset_s to output a
cross-platform-consistent representation without having to convert to <a
href="../../../../../../../../../classes/DateTime.html">DateTime</a>.
References 9750 [Geoff Buesing]

</li>
<li>Refactor number-to-HH:MM-string conversion logic from
TimeZone#formatted_offset to a reusable Numeric#to_utc_offset_s method.
[Geoff Buesing]

</li>
<li>Continue evolution toward <a
href="../../../../../../../../../classes/ActiveSupport/TestCase.html">ActiveSupport::TestCase</a>.
10679 [Josh Peek]

</li>
<li>TestCase: introduce declared setup and teardown callbacks. Pass a list of
methods and an optional block to call before setup or after teardown. Setup
callbacks are run in the order declared; teardown callbacks are run in
reverse. [Jeremy Kemper]

</li>
<li>Added ActiveSupport::Gzip.decompress/compress(source) as an easy wrapper
for Zlib [Tobias Lütke]

</li>
<li>Included MemCache-Client to make the improved <a
href="../../../../../../../../../classes/ActiveSupport/Cache/MemCacheStore.html">ActiveSupport::Cache::MemCacheStore</a>
work out of the box [Bob Cottrell, Eric Hodel]

</li>
<li>Added <a
href="../../../../../../../../../classes/ActiveSupport/Cache.html">ActiveSupport::Cache</a>::*
framework as an extraction from <a
href="../../../../../../../../../classes/ActionController/Caching/Fragments.html">ActionController::Caching::Fragments</a>::*
[David Heinemeier Hansson]

</li>
<li>Fixed String#titleize to work for strings with &#8216;s too 10571 [trek]

</li>
<li>Changed the implementation of <a
href="../../../../../../../../../classes/Enumerable.html#M002040">Enumerable#group_by</a>
to use a double array approach instead of a hash such that the insert order
is honored [David Heinemeier Hansson/Marcel Molina Jr.]

</li>
<li>remove multiple enumerations from ActiveSupport::JSON#convert_json_to_yaml
when dealing with date/time values. [Rick Olson]

</li>
<li>Hash#symbolize_keys skips keys that can&#8216;t be symbolized. 10500 [Brad
Greenlee]

</li>
<li>Ruby 1.9 compatibility. 1689, 10466, 10468, 10554, 10594, 10632 [Cheah Chu
Yeow, Pratik Naik, Jeremy Kemper, Dirkjan Bussink, Xavier Noria]

</li>
<li>TimeZone#to_s uses UTC rather than GMT. 1689 [Cheah Chu Yeow]

</li>
<li>Refactor of Hash#symbolize_keys! to use Hash#replace. Closes 10420 [ReinH]

</li>
<li>Fix HashWithIndifferentAccess#to_options! so it doesn&#8216;t clear the
options hash. Closes 10419 [ReinH]

</li>
</ul>
<p>
*2.0.1* (December 7th, 2007)
</p>
<ul>
<li>Added Array#from and Array#to that behaves just from String#from and
String#to [David Heinemeier Hansson]

</li>
<li>Fix that empty collections should be treated as empty arrays regardless of
whitespace for Hash#from_xml 10255 [adamj]

</li>
<li><a
href="../../../../../../../../../classes/Time.html#M000040">Time#time_with_datetime_fallback</a>,
<a
href="../../../../../../../../../classes/Time.html#M000033">Time#to_datetime</a>,
Date#to_datetime and String#to_datetime honor Ruby&#8216;s default calendar
reform setting. 10201 [Geoff Buesing]

</li>
<li>Change <a href="../../../../../../../../../classes/Time.html">Time</a> and
<a href="../../../../../../../../../classes/DateTime.html">DateTime</a>
end_of_month to return last second of month instead of beginning of last
day of month. Closes 10200 [Geoff Buesing]

</li>
<li>Speedup String#blank? [Jeremy Kemper, Michael Koziarski]

</li>
<li>Add documentation for Hash#diff. Closes 9306 [Tarmo Tänav]

</li>
<li>Add new superclass_delegating_accessors. Similar to class inheritable
attributes but with subtly different semantics. [Michael Koziarski, Tarmo
Tänav]

</li>
<li>Change JSON to encode %w(&lt; &gt; &amp;) as 4 digit hex codes to be in
compliance with the JSON spec. Closes 9975 [Josh Peek, Cheah Chu Yeow, Tim
Pope]

</li>
<li>Fix JSON encoding/decoding bugs dealing with /&#8217;s. Closes 9990 [Rick
Olson, theamazingrando]

</li>
<li>Introduce a base class for all test cases used by rails applications. <a
href="../../../../../../../../../classes/ActiveSupport/TestCase.html">ActiveSupport::TestCase</a>
[Michael Koziarski]

<p>
The intention is to use this to reduce the amount of monkeypatching /
overriding that is done to test/unit&#8216;s classes.
</p>
</li>
<li>Document <a
href="../../../../../../../../../classes/Enumerable.html">Enumerable</a>
and Hash to_json. 9970 [Cheah Chu Yeow]

</li>
<li>Hash#to_xml handles symbol values. 9954 [Assaf]

</li>
<li>Hash#symbolize_keys behaves well with integer keys. 9890 [PotatoSalad]

</li>
<li>Multibyte: String#slice supports regexp argument. 9646 [yob]

</li>
<li>object.duplicable? returns true if object.dup is safe. False for nil, true,
false, symbols, and numbers; true otherwise. 9333 [sur]

</li>
<li><a href="../../../../../../../../../classes/Time.html">Time</a>, Date and
<a href="../../../../../../../../../classes/DateTime.html">DateTime</a>
advance accept :weeks option. 9866 [Geoff Buesing]

</li>
<li>Fix <a
href="../../../../../../../../../classes/Time.html#M000055">Time#years_ago</a>
and years_since from leap days. 9865 [Geoff Buesing]

</li>
<li><a href="../../../../../../../../../classes/Time.html">Time</a> and <a
href="../../../../../../../../../classes/DateTime.html#M000119">DateTime#advance</a>
accept :hours, :minutes, and :seconds options. 9825 [Geoff Buesing]

</li>
<li>Fix Date#years_ago and years_since from leap days. 9864 [Geoff Buesing]

</li>
<li>Refactor <a href="../../../../../../../../../classes/Time.html">Time</a>
and Date#months_since and months_ago to use advance. 9863 [Geoff Buesing]

</li>
<li>Rebundle Builder 2.1.2 but prefer a newer RubyGem if available. [Jeremy
Kemper]

</li>
<li>Add Range#overlaps?(range), Range#include?(range), and Range#step without a
block. [brandon]

</li>
<li>Correct BufferedLogger#level? checks. 9806 [wildchild, Johan Sorensen]

</li>
<li>String#to_xs uses Eric Wong&#8216;s fast_xs extension, if available, for
Builder speedup. <a
href="http://bogomips.org/fast_xs">bogomips.org/fast_xs</a>/ [Jeremy
Kemper]

</li>
<li>Introduce BasicObject as Builder::BlankSlate for Ruby 1.9 forward
compatibility. [Jeremy Kemper]

</li>
<li>Unbundle Builder in favor of a gem dependency. [Jeremy Kemper]

</li>
<li>Disambiguate <a
href="../../../../../../../../../classes/Time.html">Time</a>, Date, and
DateTime#to_json formatting. 9750 [Geoff Buesing, Cheah Chu Yeow]

</li>
<li>Hash#to_json takes :only or :except options to specific or omit certain
hash keys. Enumerable#to_json passes through its options to each element.
9751 [Cheah Chu Yeow]

</li>
<li>BufferedLogger#auto_flushing = N flushes the log every N messages. Buffers
with an array instead of string. Disabling auto_flushing still flushes when
the buffer hits a maximum size, as a failsafe against memory-gobbling.
[Jeremy Kemper]

</li>
<li>Fixed Date#xmlschema for dates outside the range of what can be created
with <a href="../../../../../../../../../classes/Time.html">Time</a> 9744
[Geoff Buesing]

</li>
<li>Fixed that La Paz was included in -25200 and -14400 offsets when it should
only be in -14400 9735 [bermi]

</li>
<li>Fixed JSON encoding to use quoted keys according to the JSON standard. 8762
[choonkat, Cheah Chu Yeow]

</li>
<li>Alias Object#send to send! for Ruby 1.9 forward compatibility. [Jeremy
Kemper]

</li>
<li>Backport Object#instance_variable_defined? for Ruby &lt; 1.8.6. [Jeremy
Kemper]

</li>
<li>BufferedLogger#add converts the message to a string. 9702, 9724 [eigentone,
DrMark, Tom Ward]

</li>
<li>Added <a
href="../../../../../../../../../classes/ActiveSupport/BufferedLogger.html">ActiveSupport::BufferedLogger</a>
as a duck-typing alternative (albeit with no formatter) to the Ruby Logger,
which provides a very nice speed bump (inspired by Ezra&#8216;s buffered
logger) [David Heinemeier Hansson]

</li>
<li>Object#instance_exec produces fewer garbage methods. [Mauricio Fernandez]

</li>
<li>Decode json strings as Dates/Times if they&#8216;re using a YAML-compatible
format. Closes 9614 [Rick Olson]

</li>
<li>Fixed cache_page to use the request url instead of the routing options when
picking a save path. 8614 [Josh Peek]

</li>
<li>Object.subclasses_of includes anonymous subclasses. [Jeremy Kemper]

</li>
<li>Fixed that pluralizing an empty string should return the same empty string,
not &quot;s&quot;. 7720 [Josh Peek]

</li>
<li>Added call to inspect on non-string classes for the logger 8533 [Coda Hale]

</li>
<li>Deprecation: remove deprecated :mday option from <a
href="../../../../../../../../../classes/Time.html">Time</a>, Date, and <a
href="../../../../../../../../../classes/DateTime.html#M000118">DateTime#change</a>.
[Jeremy Kemper]

</li>
<li>Fix JSON decoder with nested quotes and commas. 9579 [Zach Dennis]

</li>
<li>Hash#to_xml doesn&#8216;t double-unescape. 8806 [Ezran]

</li>
<li>Added Array#rand 9170 [Norbert Crombach]. Examples:

<pre>
  [].rand       # =&gt; nil
  ['a'].rand    # =&gt; 'a'
  [1,2,3].rand  # =&gt; 1 or 2 or 3
</pre>
</li>
<li>Deprecation: removed Reloadable. [Jeremy Kemper]

</li>
<li>Make the utf-handler return the correct value for non-matching regular
expressions. Closes 9049 [Manfred Stienstra]

</li>
<li>Add ljust, rjust and center to utf8-handler. Closes 9165 [Manfred
Stienstra]

</li>
<li>Fix <a
href="../../../../../../../../../classes/Time.html#M000049">Time#advance</a>
bug when trying to advance a year from leap day. Closes 8655 [Geoff
Buesing]

</li>
<li>Add support for []= on <a
href="../../../../../../../../../classes/ActiveSupport/Multibyte/Chars.html">ActiveSupport::Multibyte::Chars</a>.
Closes 9142. [ewan, Manfred Stienstra]

</li>
<li>Added Array#extract_options! to encapsulate the pattern of getting an
options hash out of a variable number of parameters. 8759 [Norbert
Crombach]

</li>
<li>Let alias_attribute work with attributes with initial capital letters
(legacy columns etc). Closes 8596 [mpalmer]

</li>
<li>Added Hash#except which is the inverse of Hash#slice &#8212; return the
hash except the keys that are specified [David Heinemeier Hansson]

</li>
<li>Added support for pluralization with a different starting letter than the
singular version (cow/kine) 4929 [norri_b/Josh Susser]

</li>
<li>Demote Hash#to_xml to use XmlSimple#xml_in_string so it can&#8216;t read
files or stdin. 8453 [candlerb, Jeremy Kemper]

</li>
<li>Backport clean_logger changes to support ruby 1.8.2 [Mislav Marohnić]

</li>
<li>Added proper handling of arrays 8537 [Josh Susser]

<p>
Before:
</p>
<pre>
  Hash.from_xml '&lt;images&gt;&lt;/images&gt;'
  # =&gt; {:images =&gt; nil}

  Hash.from_xml '&lt;images&gt;&lt;image&gt;foo.jpg&lt;/image&gt;&lt;/images&gt;'
  # =&gt; {:images =&gt; {:image =&gt; &quot;foo.jpg&quot;}}

  Hash.from_xml '&lt;images&gt;&lt;image&gt;foo.jpg&lt;/image&gt;&lt;image&gt;bar.jpg&lt;/image&gt;&lt;/images&gt;'
  # =&gt; {:images =&gt; {:image =&gt; [&quot;foo.jpg&quot;, &quot;bar.jpg&quot;]}}
</pre>
<p>
After:
</p>
<pre>
  Hash.from_xml '&lt;images type=&quot;array&quot;&gt;&lt;/images&gt;'
  # =&gt; {:images =&gt; []}

  Hash.from_xml '&lt;images type=&quot;array&quot;&gt;&lt;image&gt;foo.jpg&lt;/image&gt;&lt;/images&gt;'
  # =&gt; {:images =&gt; [&quot;foo.jpg&quot;]}

  Hash.from_xml '&lt;images type=&quot;array&quot;&gt;&lt;image&gt;foo.jpg&lt;/image&gt;&lt;image&gt;bar.jpg&lt;/image&gt;&lt;/images&gt;'
  # =&gt; {:images =&gt; [&quot;foo.jpg&quot;, &quot;bar.jpg&quot;]}
</pre>
</li>
<li>Improve <a href="../../../../../../../../../classes/Time.html">Time</a> and
Date test coverage. 8646 [Josh Peek]

</li>
<li>Add Date#since, ago, beginning_of_day, and end_of_day. Date + seconds works
now. 8575 [Geoff Buesing]

</li>
<li>String#to_time overflows to <a
href="../../../../../../../../../classes/DateTime.html">DateTime</a>. Add
String#to_datetime. 8572 [Geoff Buesing]

</li>
<li>Date.yesterday and .tomorrow. 8571 [Geoff Buesing]

</li>
<li>Readable Date and <a
href="../../../../../../../../../classes/DateTime.html#M000104">DateTime#inspect</a>.
8570 [Geoff Buesing]

</li>
<li>Move common <a
href="../../../../../../../../../classes/DateTime.html">DateTime</a>
calculations to Date. 8536 [Geoff Buesing]

</li>
<li>Added Date#change (like <a
href="../../../../../../../../../classes/Time.html#M000048">Time#change</a>)
[David Heinemeier Hansson]

</li>
<li><a
href="../../../../../../../../../classes/DateTime.html#M000106">DateTime#to_time</a>
converts to <a href="../../../../../../../../../classes/Time.html">Time</a>
unless out of range. 8512 [Geoff Buesing]

</li>
<li>Date#to_datetime, to_s(:rfc822). 8512 [Geoff Buesing]

</li>
<li><a href="../../../../../../../../../classes/Time.html">Time</a> durations
use since instead of + for accuracy. 8513 [Geoff Buesing]

</li>
<li>escape &lt;&#8217;s and &gt;&#8217;s in JSON strings. 8371 [Rick Olson]

</li>
<li>Inflections: MatrixTest -&gt; MatrixTests instead of MatricesTest. 8496
[jbwiv]

</li>
<li>Multibyte strings respond_to the String methods they proxy so they can be
duck-typed. 6549 [Tuxie]

</li>
<li>Array#to_xml yields the builder just like Hash and <a
href="../../../../../../../../../classes/ActiveRecord/Base.html">ActiveRecord::Base</a>.
8472 [seth]

</li>
<li>Date, <a href="../../../../../../../../../classes/Time.html">Time</a>, and
<a href="../../../../../../../../../classes/DateTime.html">DateTime</a>
support formatting blocks in addition to strftime strings. Introduce
:long_ordinal format, e.g. &quot;February 21st, 2005&quot;. 8191 [Coda
Hale]

</li>
<li>Document Object#blank?. 6491 [Chris Mear]

</li>
<li>Date, <a href="../../../../../../../../../classes/Time.html">Time</a>, and
DateTime#to_json. 8399 [wycats]

</li>
<li>Simplify API of assert_difference by passing in an expression that is
evaluated before and after the passed in block. See documenation for
examples of new API. [Marcel Molina Jr.]

</li>
<li>Added assert_difference and assert_no_difference to test/unit assertions
[Tobias Lütke]

</li>
<li>Removed breakpointer and Binding.of_caller in favor of relying on
ruby-debug by Kent Sibilev since the breakpointer has been broken since
Ruby 1.8.4 and will not be coming back [David Heinemeier Hansson]

</li>
<li>Added parsing of file type in Hash.xml_in so you can easily do file uploads
with base64 from an API [David Heinemeier Hansson]

<pre>
  &lt;person&gt;
    &lt;name&gt;David&lt;/name&gt;
    &lt;avatar type=&quot;file&quot; name=&quot;me.jpg&quot; content_type=&quot;image/jpg&quot;&gt;R0lGODlhkACZAPUAAM5lcfjrtMQCG=\n&lt;/avatar&gt;
  &lt;/person&gt;
</pre>
<p>
&#8230;becomes:
</p>
<pre>
  attributes = { :person =&gt; { :name =&gt; &quot;David&quot;, :avatar =&gt; #&lt;StringIO&gt; } }
  attributes[:person][:avatar].content_type      # =&gt; &quot;image/jpg&quot;
  attributes[:person][:avatar].original_filename # =&gt; &quot;me.jpg&quot;
  attributes[:person][:avatar].read # =&gt; binary data of the file
</pre>
<p>
Which is duck-type compatible with the files that you get when doing
multipart uploads through HTML.
</p>
</li>
<li>Improved multibyte performance by relying less on exception raising 8159
[Blaine]

</li>
<li>Use XSD-compatible type names for Hash#to_xml and make the converters
extendable 8047 [Tim Pope]

</li>
<li>Added yielding of builder in Hash#to_xml [David Heinemeier Hansson]

</li>
<li>Hash#with_indifferent_access now also converts hashes kept in arrays to
indifferent access (makes it easier to treat HTML and XML parameters the
same) [David Heinemeier Hansson]

</li>
<li>Hash#to_xml supports YAML attributes. 7502 [jonathan]

</li>
<li>Refactor <a
href="../../../../../../../../../classes/ActiveSupport/JSON.html">ActiveSupport::JSON</a>
to be less obtuse. Add support for JSON decoding by way of Syck with
ActiveSupport::JSON.decode(json_string). Prevent hash keys that are
JavaScript reserved words from being unquoted during encoding. [Sam
Stephenson]

</li>
<li>alias_method_chain preserves the original method&#8216;s visibility. 7854
[Jonathan Viney]

</li>
<li>Update Dependencies to ignore constants inherited from ancestors. Closes
6951. [Nicholas Seckar]

</li>
<li>Array#to_query preserves its ordering. 7756 [Greg Spurrier]

</li>
<li>Out-of-range <a
href="../../../../../../../../../classes/Time.html">Time</a> calculations
transparently overflow to <a
href="../../../../../../../../../classes/DateTime.html">DateTime</a>.
Introduce <a
href="../../../../../../../../../classes/Time.html#M000033">Time#to_datetime</a>.
7706, 7715 [Geoff Buesing]

</li>
<li><a href="../../../../../../../../../classes/DateTime.html">DateTime</a>
calculations analogous to the Date and <a
href="../../../../../../../../../classes/Time.html">Time</a> extensions.
7693 [Geoff Buesing]

</li>
<li>Give <a
href="../../../../../../../../../classes/DateTime.html">DateTime</a>
correct .to_s implementations, lets it play nice with ActiveRecord quoting.
7649 [Geoff Buesing]

</li>
<li>Add <a
href="../../../../../../../../../classes/File.html#M000134">File.atomic_write</a>,
allows you to write large files in an atomic manner, preventing users from
seeing half written files. [Michael Koziarski]

</li>
<li>Allow users to provide custom formatters to Logger. [Anthony Eden]

</li>
<li>Hash#to_query CGI-escapes its keys. [Jeremy Kemper]

</li>
<li>Optimize Class Inheritable Attributes so that unnecessary hashes are not
created. Closes 7472 [Bruce Perens]

</li>
<li>:db format for Date#to_s [Jeremy Kemper]

<pre>
  Date.new(2007, 1, 27).to_s(:db) # =&gt; '2007-01-27'
</pre>
</li>
<li>Added :instance_writer option to mattr_writer/accessor,
cattr_writer/accessor, and class_inheritable_writer to skip the creation of
the instance writer. [Rick Olson]

</li>
<li>Added Hash#to_query to turn a hash of values into a form-encoded query
string [Nicholas Seckar]

</li>
<li>Increase test coverage for subclasses_of. Closes 7335. [Roman2K, Nicholas
Seckar]

</li>
<li>Remove unused code from Duration#inspect. Closes 7180. [Rich Collins]

</li>
<li>Added test coverage for Inflector.inflections.clear. Closes 7179. [Rich
Collins]

</li>
<li>ActiveSupport::Multibyte::Handlers::UTF8Handler should raise when a range
and an integer are passed in (just like the native implementation). Closes
7176 [Rich Collins]

</li>
<li>A couple extra tests for classify. Closes 7273. [Josh Susser]

</li>
<li>Better docs for <a
href="../../../../../../../../../classes/Object.html">Object</a> extensions
[zackchandler, Jamis Buck]

</li>
<li>Fix that Dates couldn&#8216;t be subtracted from Dates after [5940]. [Sam
Stephenson]

</li>
<li>Add Object#acts_like? and Time#acts_like_time? and Date#acts_like_date? to
facilitate duck-typing. [Jamis Buck]

</li>
<li>Make 1.months and friends accurate by introducing a Duration class. 6835
[eventualbuddha]

</li>
</ul>
<p>
*1.4.2* (March 12th, 2007)
</p>
<ul>
<li>Ruby 1.8.6 and 1.9 define private <a
href="../../../../../../../../../classes/Time.html#M000031">Time#to_date</a>
and to_datetime; make them

</li>
</ul>
<p>
public for compatibility. [Jeremy Kemper]
</p>
<ul>
<li>Deprecation: warn on stderr if RAILS_DEFAULT_LOGGER isn&#8216;t set yet.
[Jeremy Kemper]

</li>
</ul>
<p>
*1.4.1* (February 5th, 2007)
</p>
<ul>
<li>Optimize Class Inheritable Attributes so that unnecessary hashes are not
created. Closes 7472 [Bruce Perens]

</li>
<li>Added :instance_writer option to mattr_writer/accessor,
cattr_writer/accessor, and class_inheritable_writer to skip the creation of
the instance writer. [Rick Olson]

</li>
<li>Full test coverage for Inflector. 7228 [Dan Kubb]

</li>
</ul>
<p>
*1.4.0* (January 16th, 2007)
</p>
<ul>
<li>Document Inflector.ordinalize and merge docs from String inflections. 7023
[smeade]

</li>
<li>Unbundle flexmock. [Jeremy Kemper]

</li>
<li>Fix Dependencies.autoloaded? to ignore anonymous modules. Closes 6561.
[Nicholas Seckar]

</li>
<li>Update load once paths to prevent nested once constants from being detected
and claimed by an external non-once load. [Nicholas Seckar]

</li>
<li>Deprecation: silence warnings when reporting test errors. [Jeremy Kemper]

</li>
<li>Hash#slice(*keys) returns a new hash with only the given keys. slice!
replaces the hash with only the given keys. Works with
HashWithIndifferentAccess also. [Jeremy Kemper]

</li>
<li>HashWithIndifferentAccess#to_hash converts to a Hash with String keys and
the same default value. [Jeremy Kemper]

</li>
<li>Fix remove_constant to correctly handle constant names of the form
&quot;::A::&#8230;&quot;. References 6720. [Nicholas Seckar]

</li>
<li>Fixed Array#to_xml when it contains a series of hashes (each piece would
get its own XML declaration) 6610 [thkarcher/cyu]

</li>
<li>Added <a
href="../../../../../../../../../classes/Time.html#M000029">Time#to_s</a>(:time)
which will just return H:M, like 17:44 [David Heinemeier Hansson]

</li>
<li>Add Module#attr_accessor_with_default to initialize value of attribute
before setting it. Closes 6538. [Stuart Halloway, Marcel Molina Jr.]

</li>
<li>Hash#to_xml handles keys with the same name as <a
href="../../../../../../../../../classes/Kernel.html">Kernel</a> methods.
6613 [Jonathan del Strother]

</li>
<li>Added <a
href="../../../../../../../../../classes/Time.html#M000071">Time#end_of_day</a>
to get 23:59:59 of that day [David Heinemeier Hansson]

</li>
<li>Don&#8216;t quote hash keys in Hash#to_json if they&#8216;re valid
JavaScript identifiers. Disable this with
ActiveSupport::JSON.unquote_hash_key_identifiers = false if you need strict
JSON compliance. [Sam Stephenson]

</li>
<li>Lazily load the Unicode Database in the UTF-8 Handler [Rick Olson]

</li>
<li>Update dependencies to delete partially loaded constants. [Nicholas Seckar]

</li>
<li>Fix unicode JSON regexp for Onigurama compatibility. 6494 [whitley]

</li>
<li>update XmlSimple to 1.0.10. Closes 6532. [Nick Sieger]

</li>
<li>Update dependencies to allow constants to be defined alongside their
siblings. A common case for this is AR model classes with STI; user.rb
might define User, Administrator and Guest for example. [Nicholas Seckar]

</li>
<li>next_week respects DST changes. 6483, 5617, 2353, 2509, 4551 [marclove, Rob
Biedenharn, rails@roetzel.de, jsolson@damogran.org, drbrain@segment7.net]

</li>
<li>Expose methods added to <a
href="../../../../../../../../../classes/Enumerable.html">Enumerable</a> in
the documentation, such as group_by. Closes 6170. [sergeykojin@gmail.com,
Marcel Molina Jr.]

</li>
<li>Ensure Chars#tidy_bytes only tidies broken bytes. Closes 6397 [Manfred
Stienstra]

</li>
<li>Add &#8216;unloadable&#8217;, a method used to mark any constant as
requiring an unload after each request. [Nicholas Seckar]

</li>
<li>Make core_ext/string/access.rb multibyte safe. Closes 6388 [Manfred
Stienstra]

</li>
<li>Make String#chars slicing behaviour consistent with String. Closes 6387
[Manfred Stienstra]

</li>
<li>Pull in latest multibyte patch. Closes 6346 [Manfred Stienstra]

</li>
<li>Add ActiveSupport::Multibyte. Provides String#chars which lets you deal
with strings as a sequence of chars, not of bytes. Closes 6242 [Julian
Tarkhanov, Manfred Stienstra, Thijs van der Vossen &amp; Jan Behrens]

</li>
<li>Fix issue with class_inheritable_accessor saving updates to the parent
class when initialized with an Array or Hash [mojombo]

</li>
<li>Hash#to_xml supports Bignum and <a
href="../../../../../../../../../classes/BigDecimal.html">BigDecimal</a>.
6313 [edibiase]

</li>
<li>Don&#8216;t undefine class in OptionMerger [Rick Olson]

</li>
<li>Hash.create_from_xml has been renamed to Hash.from_xml, alias will exist
until <a href="../../../../../../../../../classes/Rails.html">Rails</a> 2.0
[David Heinemeier Hansson]

</li>
<li>alias_method_chain works with accessor= methods also. 6153 [Caio Chassot]

</li>
<li>Fix loadable_constants_for_path to handle load paths that do not end with a
slash. [Nicholas Seckar]

</li>
<li>Fix logic error in determining what was loaded by a given file. Closes
6039. [Nicholas Seckar]

</li>
<li>Equate Kernel.const_missing with Object.const_missing. Fixes 5988.
[Nicholas Seckar]

</li>
<li>Add ApplicationController special case to Dependencies. [Nicholas Seckar]

</li>
<li>Don&#8216;t pad remaining places with in_groups_of if specified padding
value is false. [Marcel Molina Jr.]

</li>
<li>Fix cases where empty xml nodes weren&#8216;t being translated to nil in
Hash.create_from_xml [Rick Olso n]

<p>
&lt;written-on type=&quot;date&quot;&gt;&lt;/written-on&gt; # =&gt; { :type
=&gt; &#8216;date&#8217; } # WRONG &lt;written-on
type=&quot;date&quot;&gt;&lt;/written-on&gt; # =&gt; nil # RIGHT
</p>
</li>
<li>Tighten rescue clauses. 5985 [james@grayproductions.net]

</li>
<li>Inflections: don&#8216;t singularize -ies plurals. [foamdino@gmail.com,
Mark Van Holstyn]

</li>
<li>Update Initializer to use load_once_paths to avoid plugin reloading.
References 5852. [Nicholas Seckar]

</li>
<li>Use Array#assoc in ActiveSupport::OrderedHash. [Mauricio Fernandez]

</li>
<li>Greatly increased performance of String.to_json, which speeds up RJS
considerably on large pages, fixes 3473 [Shugo Maeda]

</li>
<li>Detect missing_constants calls from removed modules and fail accordingly.
[Nicholas Seckar]

</li>
<li>Stop using defined? in Dependencies.qualified_const_defined? since defined?
may invoke const_missing. [Nicholas Seckar]

</li>
<li>Dependencies can autoload directories of nested classes. [Jeremy Kemper]

<pre>
  Example:
    invoice.rb            class Invoice
    invoice/lineitem.rb   class Invoice::Lineitem
</pre>
</li>
<li>Add Deprecation.silence so that Reloadable does not scold itself. [Nicholas
Seckar]

</li>
<li>Add debugging logging to Dependencies. Currently can be enabled with
Dependencies.log_activity = true; adding to Initializer and documenting is
forthcoming. [Nicholas Seckar]

</li>
<li>Replace Reloadable with improvements to the Dependencies mechanism.
[Nicholas Seckar]

</li>
<li><a
href="../../../../../../../../../classes/DateTime.html#M000106">DateTime#to_time</a>
gives hour/minute/second resolution. 5747 [jon.evans@pobox.com]

</li>
<li>attr_internal to support namespacing and deprecation. Like attr_* except
backed by internally-named instance variable. Set
attr_internal_naming_format to change the format from the default
&#8217;@_%s&#8217;. [Jeremy Kemper]

<pre>
  # def foo()   @foo__rofl      end
  # def foo=(v) @foo__rofl = v  end
  self.attr_internal_naming_format = '@%s__rofl'
  attr_internal :foo
</pre>
</li>
<li>Raise fully qualified names upon name errors. 5533 [Lars Pind, Nicholas
Seckar]

</li>
<li>Add extention to obtain the missing constant from <a
href="../../../../../../../../../classes/NameError.html">NameError</a>
instances. [Nicholas Seckar]

</li>
<li>Thoroughly document inflections. 5700 [petermichaux@gmail.com]

</li>
<li>Added Module#alias_attribute [Jamis/David Heinemeier Hansson]. Example:

<pre>
  class Content &lt; ActiveRecord::Base
    # has a title attribute
  end

  class Email &lt; ActiveRecord::Base
    alias_attribute :subject, :title
  end

  e = Email.find(1)
  e.title    # =&gt; &quot;Superstars&quot;
  e.subject  # =&gt; &quot;Superstars&quot;
  e.subject? # =&gt; true
  e.subject = &quot;Megastars&quot;
  e.title    # =&gt; &quot;Megastars&quot;
</pre>
</li>
<li>Deprecation: easier to work with warning behavior as procs; default
behaviors for each environment so users needn&#8216;t update env.rb; and
testing pleasure with assert_deprecated, assert_not_deprecated. [Jeremy
Kemper] By default, test prints to $stderr, dev logs, production ignores.
Provide your own per-environment in e.g.
config/environments/development.rb:

<pre>
  ActiveSupport::Deprecation.behavior = Proc.new { |message| raise message }
</pre>
</li>
<li>First cut of the <a
href="../../../../../../../../../classes/Rails.html">Rails</a> Deprecation
system. [Michael Koziarski]

</li>
<li>Strip boolean XML content before checking for &#8216;true&#8217; [Rick
Olson]

</li>
<li>Customize default <a
href="../../../../../../../../../classes/BigDecimal.html">BigDecimal</a>
formatting. References 5672 [Dave Thomas]

</li>
<li>Correctly convert &lt;foo nil=&quot;true&quot;&gt; to nil when using
Hash.create_from_xml. [Rick Olson]

</li>
<li>Optional identity for <a
href="../../../../../../../../../classes/Enumerable.html#M002041">Enumerable#sum</a>
defaults to zero. 5657 [gensym@mac.com]

</li>
<li>HashWithIndifferentAccess shouldn&#8216;t confuse false and nil. 5601
[Shugo Maeda]

</li>
<li>Fixed HashWithIndifferentAccess#default 5586 [chris@seagul.co.uk]

</li>
<li>More compatible Hash.create_from_xml. 5523 [nunemaker@gmail.com]

</li>
<li>Added <a
href="../../../../../../../../../classes/Enumerable.html#M002041">Enumerable#sum</a>
for calculating a sum from the elements [David Heinemeier Hansson,
jonathan@daikini.com]. Examples:

<pre>
  [1, 2, 3].sum
  payments.sum { |p| p.price * p.tax_rate }
  payments.sum(&amp;:price)
</pre>
<p>
This is instead of payments.inject(0) { |sum, p| sum + p.price }
</p>
</li>
<li>Correct and clarify Array#to_sentence docs. 5458 [brad@madriska.com]

</li>
<li>alias_method_chain preserves method punctuation so foo, foo?, and foo! may
be chained with the same feature. [Jeremy Kemper]

<pre>
  Example:
    alias_method_chain :save!, :validation
  is equivalent to
    alias_method :save_without_validation!, :save!
    alias_method :save!, :save_with_validation!
</pre>
</li>
<li>Enhance Symbol#to_proc so it works with list objects, such as
multi-dimensional arrays. Closes 5295 [nov@yo.rim.or.jp]. Example:

<pre>
  {1 =&gt; &quot;one&quot;, 2 =&gt; &quot;two&quot;, 3 =&gt; &quot;three&quot;}.sort_by(&amp;:first).map(&amp;:last)
  # =&gt; [&quot;one&quot;, &quot;two&quot;, &quot;three&quot;]
</pre>
</li>
<li>Added Hash.create_from_xml(string) which will create a hash from a XML
string and even typecast if possible [David Heinemeier Hansson]. Example:

<pre>
  Hash.create_from_xml &lt;&lt;-EOT
    &lt;note&gt;
      &lt;title&gt;This is a note&lt;/title&gt;
      &lt;created-at type=&quot;date&quot;&gt;2004-10-10&lt;/created-at&gt;
    &lt;/note&gt;
  EOT
</pre>
<p>
&#8230;would return:
</p>
<pre>
  { :note =&gt; { :title =&gt; &quot;This is a note&quot;, :created_at =&gt; Date.new(2004, 10, 10) } }
</pre>
</li>
<li>Added Jim Weirich&#8216;s excellent FlexMock class to vendor (Copyright
2003, 2004 by Jim Weirich (jim@weriichhouse.org)) &#8212; it&#8216;s not
automatically required, though, so require &#8216;flexmock&#8217; is still
necessary [David Heinemeier Hansson]

</li>
<li>Fixed that Module#alias_method_chain should work with both foo? foo! and
foo at the same time 4954 [anna@wota.jp]

</li>
<li>to_xml fixes, features, and speedup: introduce :dasherize option that
converts updated_at to updated-at if true (the existing default); binary
columns get encoding=&quot;base64&quot; attribute; nil values get
nil=&quot;true&quot; attribute to distinguish empty values; add type
information for float columns; allow arbitrarily deep :include; include SQL
type information as the type attribute. 4989 [Blair Zajac
&lt;blair@orcaware.com&gt;]

</li>
<li>Add OrderedHash#values. [Sam Stephenson]

</li>
<li>Added Array#to_s(:db) that&#8216;ll produce a comma-separated list of ids
[David Heinemeier Hansson]. Example:

<pre>
  Purchase.find(:all, :conditions =&gt; &quot;product_id IN (#{shops.products.to_s(:db)})&quot;
</pre>
</li>
<li>Normalize classify&#8216;s argument to a String so that it plays nice with
Symbols. [Marcel Molina Jr.]

</li>
<li>Strip out leading schema name in classify. References 5139. [Michael
Schoen]

</li>
<li>Remove Enumerable#first_match since break(value) handles the use case well
enough. [Nicholas Seckar]

<p>
Enumerable#first_match was like detect, but instead of returning the
matching element, the yielded value returned. For example:
</p>
<pre>
  user_xml = adapters(:from =&gt; User, :to =&gt; Xml).first_match do |adapter|
    adapter.adapt @user
  end
</pre>
<p>
But this is just as easily done with:
</p>
<pre>
  user_xml = adapters(:from =&gt; User, :to =&gt; Xml).each do
    break adapter.adapt(@user)
  end
</pre>
</li>
<li>Make Array#in_groups_of just return the grouped collection if a block
isn&#8216;t given. [Marcel Molina Jr.]

</li>
<li>Don&#8216;t destroy a HashWithIndifferentAccess if symbolize_keys! or
stringify_keys! is called on it. Closes 5076. [Marcel Molina Jr.,
guy.naor@famundo.com]

</li>
<li>Document Module::delegate. 5002 [pergesu@gmail.com]

</li>
<li>Replace alias method chaining with Module#alias_method_chain. [Marcel
Molina Jr.]

</li>
<li>Strip out punctuation on predicates or bang methods being aliased with
alias_method_chain since target?_without_feature is not a valid method
name. Add tests for Module#alias_method_chain. [Marcel Molina Jr.]

</li>
<li>Replace Ruby&#8216;s deprecated append_features in favor of included.
[Marcel Molina Jr.]

</li>
<li>Allow default options in with_options to be overridden. Closes 4480.
[murphy@cYcnus.de]

</li>
<li>Added Module#alias_method_chain [Jamis Buck]

</li>
<li>Updated to Builder 2.0 [David Heinemeier Hansson]

</li>
<li>Add Array#split for dividing arrays into one or more subarrays by value or
block. [Sam Stephenson]

</li>
</ul>
<p>
*1.3.1* (April 6th, 2006)
</p>
<ul>
<li>Clean paths inside of exception messages and traces. [Nicholas Seckar]

</li>
<li>Add Pathname.clean_within for cleaning all the paths inside of a string.
[Nicholas Seckar]

</li>
<li>provide an empty Dependencies::LoadingModule.load which prints deprecation
warnings. Lets 1.0 applications function with .13-style environment.rb.

</li>
</ul>
<p>
*1.3.0* (March 27th, 2006)
</p>
<ul>
<li>When possible, avoid incorrectly obtaining constants from parent modules.
Fixes 4221. [Nicholas Seckar]

</li>
<li>Add more tests for dependencies; refactor existing cases. [Nicholas Seckar]

</li>
<li>Move Module#parent and Module#as_load_path into core_ext. Add
Module#parent. [Nicholas Seckar]

</li>
<li>Add CachingTools::HashCaching to simplify the creation of nested,
autofilling hashes. [Nicholas Seckar]

</li>
<li>Remove a hack intended to avoid unloading the same class twice, but which
would not work anyways. [Nicholas Seckar]

</li>
<li>Update Object.subclasses_of to locate nested classes. This affects
Object.remove_subclasses_of in that nested classes will now be unloaded.
[Nicholas Seckar]

</li>
<li>Update Object.remove_subclasses_of to use Class.remove_class, reducing
duplication. [Nicholas Seckar]

</li>
<li>Added Fixnum#seconds for consistency, so you can say 5.minutes + 30.seconds
instead of 5.minutes + 30 4389 [François Beausoleil]

</li>
<li>Added option to String#camelize to generate lower-cased camel case by
passing in :lower, like &quot;super_man&quot;.camelize(:lower) # =&gt;
&quot;superMan&quot; [David Heinemeier Hansson]

</li>
<li>Added Hash#diff to show the difference between two hashes [Chris McGrath]

</li>
<li>Added <a
href="../../../../../../../../../classes/Time.html#M000049">Time#advance</a>
to do precise time time calculations for cases where a month being
approximated to 30 days won&#8216;t do 1860 [Rick Olson]

</li>
<li>Enhance Inflector.underscore to convert &#8217;-&#8217; into
&#8216;_&#8217; (as the inverse of Inflector.dasherize) [Jamis Buck]

</li>
<li>Switched to_xml to use the xml schema format for datetimes. This allows the
encoding of time zones and should improve operability. [Michael Koziarski]

</li>
<li>Added a note to the documentation for the Date related Numeric extensions
to indicate that they&#8216;re

</li>
</ul>
<p>
approximations and shouldn&#8216;t be used for critical calculations.
[Michael Koziarski]
</p>
<ul>
<li>Added Hash#to_xml and Array#to_xml that makes it much easier to produce XML
from basic structures [David Heinemeier Hansson]. Examples:

<pre>
  { :name =&gt; &quot;David&quot;, :street_name =&gt; &quot;Paulina&quot;, :age =&gt; 26, :moved_on =&gt; Date.new(2005, 11, 15) }.to_xml
</pre>
<p>
&#8230;returns:
</p>
<pre>
    &lt;person&gt;
      &lt;street-name&gt;Paulina&lt;/street-name&gt;
      &lt;name&gt;David&lt;/name&gt;
      &lt;age type=&quot;integer&quot;&gt;26&lt;/age&gt;
      &lt;moved-on type=&quot;date&quot;&gt;2005-11-15&lt;/moved-on&gt;
    &lt;/person&gt;
</pre>
</li>
<li>Moved Jim Weirich&#8216;s wonderful Builder from Action Pack to Active
Support (it&#8216;s simply too useful to be stuck in AP) [David Heinemeier
Hansson]

</li>
<li>Fixed that Array#to_sentence will return &quot;&quot; on an empty array
instead of &quot;, and&quot; 3842, 4031 [rubyonrails@beautifulpixel.com]

</li>
<li>Add <a
href="../../../../../../../../../classes/Enumerable.html#M002040">Enumerable#group_by</a>
for grouping collections based on the result of some block. Useful, for
example, for grouping records by date.

<p>
ex.
</p>
<pre>
   latest_transcripts.group_by(&amp;:day).each do |day, transcripts|
     p &quot;#{day} -&gt; #{transcripts.map(&amp;:class) * ', '}&quot;
   end
   &quot;2006-03-01 -&gt; Transcript&quot;
   &quot;2006-02-28 -&gt; Transcript&quot;
   &quot;2006-02-27 -&gt; Transcript, Transcript&quot;
   &quot;2006-02-26 -&gt; Transcript, Transcript&quot;
</pre>
<p>
Add Array#in_groups_of, for iterating over an array in groups of a certain
size.
</p>
<p>
ex.
</p>
<pre>
   %w(1 2 3 4 5 6 7).in_groups_of(3) {|g| p g}
   [&quot;1&quot;, &quot;2&quot;, &quot;3&quot;]
   [&quot;4&quot;, &quot;5&quot;, &quot;6&quot;]
   [&quot;7&quot;, nil, nil]
</pre>
<p>
[Marcel Molina Jr., Sam Stephenson]
</p>
</li>
<li>Added Kernel#daemonize to turn the current process into a daemon that can
be killed with a TERM signal [David Heinemeier Hansson]

</li>
<li>Add &#8216;around&#8217; methods to Logger, to make it easy to log before
and after messages for a given block as requested in 3809. [Michael
Koziarski] Example:

<p>
logger.around_info(&quot;Start rendering component (#{options.inspect}):
&quot;,
</p>
<pre>
                   &quot;\n\nEnd of component rendering&quot;) { yield }
</pre>
</li>
<li>Added <a
href="../../../../../../../../../classes/Time.html#M000076">Time#beginning_of_quarter</a>
3607 [cohen.jeff@gmail.com]

</li>
<li>Fix Object.subclasses_of to only return currently defined objects [Jonathan
Viney &lt;jonathan@bluewire.net.nz&gt;]

</li>
<li>Fix constantize to properly handle names beginning with &#8217;::&#8217;.
[Nicholas Seckar]

</li>
<li>Make String#last return the string instead of nil when it is shorter than
the limit [Scott Barron].

</li>
<li>Added delegation support to Module that allows multiple delegations at once
(unlike Forwardable in the stdlib) [David Heinemeier Hansson]. Example:

<pre>
  class Account &lt; ActiveRecord::Base
    has_one :subscription
    delegate :free?, :paying?, :to =&gt; :subscription
    delegate :overdue?, :to =&gt; &quot;subscription.last_payment&quot;
  end

  account.free?    # =&gt; account.subscription.free?
  account.overdue? # =&gt; account.subscription.last_payment.overdue?
</pre>
</li>
<li>Fix Reloadable to handle the case where a class that has been
&#8216;removed&#8217; has not yet been garbage collected. [Nicholas Seckar]

</li>
<li>Don&#8216;t allow Reloadable to be included into Modules.

</li>
<li>Remove LoadingModule. [Nicholas Seckar]

</li>
<li>Add documentation for Reloadable::Subclasses. [Nicholas Seckar]

</li>
<li>Add Reloadable::Subclasses which handles the common case where a base class
should not be reloaded, but its subclasses should be. [Nicholas Seckar]

</li>
<li>Further improvements to reloading code [Nicholas Seckar, Trevor Squires]

<ul>
<li>All classes/modules which include Reloadable can define reloadable? for
fine grained control of reloading

</li>
<li>Class.remove_class uses Module#parent to access the parent module

</li>
<li>Class.remove_class expanded to handle multiple classes in a single call

</li>
<li>LoadingModule.clear! has been removed as it is no longer required

</li>
<li>Module#remove_classes_including has been removed in favor of
Reloadable.reloadable_classes

</li>
</ul>
</li>
<li>Added reusable reloading support through the inclusion of the Relodable
module that all subclasses of <a
href="../../../../../../../../../classes/ActiveRecord/Base.html">ActiveRecord::Base</a>,
<a
href="../../../../../../../../../classes/ActiveRecord/Observer.html">ActiveRecord::Observer</a>,
ActiveController::Base, and <a
href="../../../../../../../../../classes/ActionMailer/Base.html">ActionMailer::Base</a>
automatically gets. This means that these classes will be reloaded by the
dispatcher when Dependencies.mechanism = :load. You can make your own
models reloadable easily:

<pre>
  class Setting
    include Reloadable
  end
</pre>
<p>
Reloading a class is done by removing its constant which will cause it to
be loaded again on the next reference. [David Heinemeier Hansson]
</p>
</li>
<li>Added auto-loading support for classes in modules, so Conductor::Migration
will look for conductor/migration.rb and Conductor::Database::Settings will
look for conductor/database/settings.rb [Nicholas Seckar]

</li>
<li>Add Object#instance_exec, like instance_eval but passes its arguments to
the block. (Active Support will not override the Ruby 1.9 implementation of
this method.) [Sam Stephenson]

</li>
<li>Add Proc#bind(object) for changing a proc or block&#8216;s self by
returning a Method bound to the given object. Based on why the lucky
stiff&#8216;s &quot;cloaker&quot; method. [Sam Stephenson]

</li>
<li>Fix merge and dup for hashes with indifferent access 3404 [Ken Miller]

</li>
<li>Fix the requires in option_merger_test to unbreak AS tests. [Sam
Stephenson]

</li>
<li>Make HashWithIndifferentAccess#update behave like Hash#update by returning
the hash. 3419, 3425 [asnem@student.ethz.ch, JanPrill@blauton.de, Marcel
Molina Jr.]

</li>
<li>Add <a
href="../../../../../../../../../classes/ActiveSupport/JSON.html">ActiveSupport::JSON</a>
and Object#to_json for converting Ruby objects to JSON strings. [Sam
Stephenson]

</li>
<li>Add <a
href="../../../../../../../../../classes/Object.html#M000006">Object#with_options</a>
for DRYing up multiple calls to methods having shared options. [Sam
Stephenson] Example:

<p>
ActionController::Routing::Routes.draw do |map|
</p>
<pre>
  # Account routes
  map.with_options(:controller =&gt; 'account') do |account|
    account.home   '',       :action =&gt; 'dashboard'
    account.signup 'signup', :action =&gt; 'new'
    account.logout 'logout', :action =&gt; 'logout'
  end
</pre>
<p>
end
</p>
</li>
<li>Introduce Dependencies.warnings_on_first_load setting. If true, enables
warnings on first load of a require_dependency. Otherwise, loads without
warnings. Disabled (set to false) by default. [Jeremy Kemper]

</li>
<li>Active Support is warnings-safe. 1792 [Eric Hodel]

</li>
<li>Introduce enable_warnings counterpart to silence_warnings. Turn warnings on
when loading a file for the first time if Dependencies.mechanism == :load.
Common mistakes such as redefined methods will print warnings to stderr.
[Jeremy Kemper]

</li>
<li>Add Symbol#to_proc, which allows for, e.g. [:foo, :bar].map(&amp;:to_s).
[Marcel Molina Jr.]

</li>
<li>Added the following methods [Marcel Molina Jr., Sam Stephenson]:

<ul>
<li>Object#copy_instance_variables_from(object) to copy instance variables from
one object to another

</li>
<li>Object#extended_by to get an instance&#8216;s included/extended modules

</li>
<li>Object#extend_with_included_modules_from(object) to extend an instance with
the modules from another instance

</li>
</ul>
</li>
</ul>
<p>
*1.2.5* (December 13th, 2005)
</p>
<ul>
<li>Become part of <a
href="../../../../../../../../../classes/Rails.html">Rails</a> 1.0

</li>
<li>Rename Version constant to VERSION. 2802 [Marcel Molina Jr.]

</li>
</ul>
<p>
*1.2.3* (November 7th, 2005)
</p>
<ul>
<li>Change Inflector#constantize to use eval instead of const_get. [Nicholas
Seckar]

</li>
<li>Fix const_missing handler to ignore the trailing &#8217;.rb&#8217; on files
when comparing paths. [Nicholas Seckar]

</li>
<li>Define kernel.rb methods in &quot;class <a
href="../../../../../../../../../classes/Object.html">Object</a>&quot;
instead of &quot;module <a
href="../../../../../../../../../classes/Kernel.html">Kernel</a>&quot; to
work around a Windows peculiarity [Sam Stephenson]

</li>
<li>Fix broken tests caused by incomplete loading of active support. [Nicholas
Seckar]

</li>
<li>Fix status pluralization bug so status_codes doesn&#8216;t get pluralized
as statuses_code. 2758 [keithm@infused.org]

</li>
<li>Added Kernel#silence_stderr to silence stderr for the duration of the given
block [Sam Stephenson]

</li>
<li>Changed <a
href="../../../../../../../../../classes/Kernel.html">Kernel</a>#` to print
a message to stderr (like Unix) instead of raising Errno::ENOENT on Win32
[Sam Stephenson]

</li>
<li>Changed 0.blank? to false rather than true since it violates
everyone&#8216;s expectation of blankness. 2518, 2705 [rails@jeffcole.net]

</li>
<li>When loading classes using const_missing, raise a <a
href="../../../../../../../../../classes/NameError.html">NameError</a> if
and only if the file we tried to load was not present. [Nicholas Seckar]

</li>
<li>Added petabytes and exebytes to numeric extensions 2397 [timct@mac.com]

</li>
<li>Added <a
href="../../../../../../../../../classes/Time.html#M000074">Time#end_of_month</a>
to accompany <a
href="../../../../../../../../../classes/Time.html#M000072">Time#beginning_of_month</a>
2514 [Jens-Christian Fischer]

</li>
</ul>
<p>
*1.2.2* (October 26th, 2005)
</p>
<ul>
<li>Set Logger.silencer = false to disable Logger#silence. Useful for debugging
fixtures.

</li>
<li>Add title case method to String to do, e.g.,
&#8216;action_web_service&#8217;.titlecase # =&gt; &#8216;Action Web
Service&#8217;. [Marcel Molina Jr.]

</li>
</ul>
<p>
*1.2.1* (October 19th, 2005)
</p>
<ul>
<li>Classify generated routing code as framework code to avoid appearing in
application traces. [Nicholas Seckar]

</li>
<li>Show all framework frames in the framework trace. [Nicholas Seckar]

</li>
</ul>
<p>
*1.2.0* (October 16th, 2005)
</p>
<ul>
<li>Update Exception extension to show the first few framework frames in an
application trace. [Nicholas Seckar]

</li>
<li>Added Exception extension to provide support for clean backtraces.
[Nicholas Seckar]

</li>
<li>Updated whiny nil to be more concise and useful. [Nicholas Seckar]

</li>
<li>Added Enumerable#first_match [Nicholas Seckar]

</li>
<li>Fixed that <a
href="../../../../../../../../../classes/Time.html#M000048">Time#change</a>
should also reset usec when also resetting minutes 2459
[ikeda@dream.big.or.jp]

</li>
<li>Fix Logger compatibility for distributions that don&#8216;t keep Ruby and
its standard library in sync.

</li>
<li>Replace &#8217;%e&#8217; from long and short time formats as Windows does
not support it. 2344. [Tom Ward &lt;tom@popdog.net&gt;]

</li>
<li>Added to_s(:db) to Range, so you can get &quot;BETWEEN
&#8216;2005-12-10&#8217; AND &#8216;2005-12-12&#8217;&quot; from
Date.new(2005, 12, 10)..Date.new(2005, 12, 12) (and likewise with Times)

</li>
<li>Moved require_library_or_gem into <a
href="../../../../../../../../../classes/Kernel.html">Kernel</a>. 1992
[Michael Schuerig &lt;michael@schuerig.de&gt;]

</li>
<li>Add :rfc822 as an option for <a
href="../../../../../../../../../classes/Time.html#M000029">Time#to_s</a>
(to get rfc822-formatted times)

</li>
<li>Chain the const_missing hook to any previously existing hook so rails can
play nicely with rake

</li>
<li>Clean logger is compatible with both 1.8.2 and 1.8.3 Logger. 2263 [Michael
Schuerig &lt;michael@schuerig.de&gt;]

</li>
<li>Added native, faster implementations of .blank? for the core types 2286
[skae]

</li>
<li>Fixed clean logger to work with Ruby 1.8.3 Logger class 2245

</li>
<li>Fixed memory leak with Active Record classes when Dependencies.mechanism =
:load 1704 [Chris McGrath]

</li>
<li>Fixed Inflector.underscore for use with acronyms, so HTML becomes html
instead of htm_l 2173 [k@v2studio.com]

</li>
<li>Fixed dependencies related infinite recursion bug when a controller file
does not contain a controller class. Closes 1760. [rcolli2@tampabay.rr.com]

</li>
<li>Fixed inflections for status, quiz, move 2056 [deirdre@deirdre.net]

</li>
<li>Added Hash#reverse_merge, Hash#reverse_merge!, and Hash#reverse_update to
ease the use of default options

</li>
<li>Added Array#to_sentence that&#8216;ll turn [&#8216;one&#8217;,
&#8216;two&#8217;, &#8216;three&#8217;] into &quot;one, two, and
three&quot; 2157 [Manfred Stienstra]

</li>
<li>Added <a
href="../../../../../../../../../classes/Kernel.html#M002029">Kernel#silence_warnings</a>
to turn off warnings temporarily for the passed block

</li>
<li>Added String#starts_with? and String#ends_with? 2118 [Thijs van der Vossen]

</li>
<li>Added easy extendability to the inflector through Inflector.inflections
(using the Inflector::Inflections singleton class). Examples:

<pre>
  Inflector.inflections do |inflect|
    inflect.plural /^(ox)$/i, '\1\2en'
    inflect.singular /^(ox)en/i, '\1'

    inflect.irregular 'octopus', 'octopi'

    inflect.uncountable &quot;equipment&quot;
  end
</pre>
</li>
<li>Added String#at, String#from, String#to, String#first, String#last in
ActiveSupport::CoreExtensions::String::Access to ease access to individual
characters and substrings in a string serving basically as human names for
range access.

</li>
<li>Make Time#last_month work when invoked on the 31st of a month.

</li>
<li>Add <a
href="../../../../../../../../../classes/Time.html#M000039">Time.days_in_month</a>,
and make <a
href="../../../../../../../../../classes/Time.html#M000060">Time#next_month</a>
work when invoked on the 31st of a month

</li>
<li>Fixed that <a
href="../../../../../../../../../classes/Time.html#M000068">Time#midnight</a>
would have a non-zero usec on some platforms 1836

</li>
<li>Fixed inflections of &quot;index/indices&quot; 1766 [damn_pepe@gmail.com]

</li>
<li>Added stripping of _id to String#humanize, so &quot;employee_id&quot;
becomes &quot;Employee&quot; 1574 [Justin French]

</li>
<li>Factor <a href="../../../../../../../../../classes/Fixnum.html">Fixnum</a>
and Bignum extensions into <a
href="../../../../../../../../../classes/Integer.html">Integer</a>
extensions [Nicholas Seckar]

</li>
<li>Hooked ordinalize into <a
href="../../../../../../../../../classes/Fixnum.html">Fixnum</a> and Bignum
classes. [Nicholas Seckar, danp]

</li>
<li>Added Fixnum#ordinalize to turn 1.ordinalize to &quot;1st&quot;,
3.ordinalize to &quot;3rd&quot;, and 10.ordinalize to &quot;10th&quot; and
so on 1724 [paul@cnt.org]

</li>
</ul>
<p>
*1.1.1* (11 July, 2005)
</p>
<ul>
<li>Added more efficient implementation of the development mode reset of
classes 1638 [Chris McGrath]

</li>
</ul>
<p>
*1.1.0* (6 July, 2005)
</p>
<ul>
<li>Fixed conflict with Glue gem 1606 [Rick Olson]

</li>
<li>Added new rules to the Inflector to deal with more unusual plurals
mouse/louse =&gt; mice/lice, information =&gt; information, ox =&gt; oxen,
virus =&gt; viri, archive =&gt; archives 1571, 1583, 1490, 1599, 1608
[foamdino@gmail.com/others]

</li>
<li>Fixed memory leak with Object#remove_subclasses_of, which inflicted a <a
href="../../../../../../../../../classes/Rails.html">Rails</a> application
running in development mode with a ~20KB leak per request 1289 [Chris
McGrath]

</li>
<li>Made 1.year == 365.25.days to account for leap years. This allows you to do
User.find(:all, :conditions =&gt; [&#8216;birthday &gt; ?&#8217;,
50.years.ago]) without losing a lot of days. 1488 [tuxie@dekadance.se]

</li>
<li>Added an exception if calling id on nil to WhinyNil 584
[kevin-temp@writesoon.com]

</li>
<li>Added Fix/Bignum#multiple_of? which returns true on 14.multiple_of?(7) and
false on 16.multiple_of?(7) 1464 [Thomas Fuchs]

</li>
<li>Added even? and odd? to work with Bignums in addition to Fixnums 1464
[Thomas Fuchs]

</li>
<li>Fixed <a
href="../../../../../../../../../classes/Time.html#M000063">Time#at_beginning_of_week</a>
returned the next Monday instead of the previous one when called on a
Sunday 1403 [jean.helou@gmail.com]

</li>
<li>Increased the speed of indifferent hash access by using Hash#default. 1436
[Nicholas Seckar]

</li>
<li>Added that &quot; &quot; is now also blank? (using strip if available)

</li>
<li>Fixed Dependencies so all modules are able to load missing constants 1173
[Nicholas Seckar]

</li>
<li>Fixed the Inflector to underscore strings containing numbers, so
Area51Controller becomes area51_controller 1176 [Nicholas Seckar]

</li>
<li>Fixed that HashWithIndifferentAccess stringified all keys including
symbols, ints, objects, and arrays 1162 [Nicholas Seckar]

</li>
<li>Fixed Time#last_year to go back in time, not forward 1278
[fabien@odilat.com]

</li>
<li>Fixed the pluralization of analysis to analyses 1295
[seattle@rootimage.msu.edu]

</li>
<li>Fixed that Time.local(2005,12).months_since(1) would raise
&quot;ArgumentError: argument out of range&quot; 1311 [jhahn@niveon.com]

</li>
<li>Added silencing to the default Logger class

</li>
</ul>
<p>
*1.0.4* (19th April, 2005)
</p>
<ul>
<li>Fixed that in some circumstances controllers outside of modules may have
hidden ones inside modules. For example, admin/content might have been
hidden by /content. 1075 [Nicholas Seckar]

</li>
<li>Fixed inflection of perspectives and similar words 1045 [Thijs van der
Vossen]

</li>
<li>Added Fixnum#even? and Fixnum#odd?

</li>
<li>Fixed problem with classes being required twice. Object#const_missing now
uses require_dependency to load files. It used to use require_or_load which
would cause models to be loaded twice, which was not good for validations
and other class methods 971 [Nicholas Seckar]

</li>
</ul>
<p>
*1.0.3* (27th March, 2005)
</p>
<ul>
<li>Fixed Inflector.pluralize to handle capitalized words 932 [Jeremy Kemper]

</li>
<li>Added Object#suppress which allows you to make a saner choice around with
exceptions to swallow 980. Example:

<pre>
  suppress(ZeroDivisionError) { 1/0 }
</pre>
<p>
&#8230;instead of:
</p>
<pre>
  1/0 rescue nil # BAD, EVIL, DIRTY.
</pre>
</li>
</ul>
<p>
*1.0.2* (22th March, 2005)
</p>
<ul>
<li>Added Kernel#returning &#8212; a Ruby-ized realization of the K combinator,
courtesy of Mikael Brockman.

<pre>
  def foo
    returning values = [] do
      values &lt;&lt; 'bar'
      values &lt;&lt; 'baz'
    end
  end

  foo # =&gt; ['bar', 'baz']
</pre>
</li>
</ul>
<p>
*1.0.1* (7th March, 2005)
</p>
<ul>
<li>Fixed Hash#indifferent_access to also deal with include? and fetch and
nested hashes 726 [Nicholas Seckar]

</li>
<li>Added Object#blank? &#8212; see <a
href="http://redhanded.hobix.com/inspect/objectBlank.html">redhanded.hobix.com/inspect/objectBlank.html</a>
783 [_why the lucky stiff]

</li>
<li>Added inflection rules for &quot;sh&quot; words, like &quot;wish&quot; and
&quot;fish&quot; 755 [phillip@pjbsoftware.com]

</li>
<li>Fixed an exception when using Ajax based requests from Safari because
Safari appends a \000 to the post body. Symbols can&#8216;t have \000 in
them so indifferent access would throw an exception in the constructor.
Indifferent hashes now use strings internally instead. 746 [Tobias Lütke]

</li>
<li>Added String#to_time and String#to_date for wrapping ParseDate

</li>
</ul>
<p>
*1.0.0* (24th February, 2005)
</p>
<ul>
<li>Added TimeZone as the first of a number of value objects that among others
Active Record can use rich value objects using composed_of 688 [Jamis Buck]

</li>
<li>Added Date::Conversions for getting dates in different convenient string
representations and other objects

</li>
<li>Added Time::Conversions for getting times in different convenient string
representations and other objects

</li>
<li>Added Time::Calculations to ask for things like Time.now.tomorrow,
Time.now.yesterday, Time.now.months_ago(4) 580 [DP|Flurin]. Examples:

<pre>
  &quot;Later today&quot;         =&gt; now.in(3.hours),
  &quot;Tomorrow morning&quot;    =&gt; now.tomorrow.change(:hour =&gt; 9),
  &quot;Tomorrow afternoon&quot;  =&gt; now.tomorrow.change(:hour =&gt; 14),
  &quot;In a couple of days&quot; =&gt; now.tomorrow.tomorrow.change(:hour =&gt; 9),
  &quot;Next monday&quot;         =&gt; now.next_week.change(:hour =&gt; 9),
  &quot;In a month&quot;          =&gt; now.next_month.change(:hour =&gt; 9),
  &quot;In 6 months&quot;         =&gt; now.months_since(6).change(:hour =&gt; 9),
  &quot;In a year&quot;           =&gt; now.in(1.year).change(:hour =&gt; 9)
</pre>
</li>
<li>Upgraded to breakpoint 92 which fixes:

<pre>
  * overload IRB.parse_opts(), fixes #443
    =&gt; breakpoints in tests work even when running them via rake
  * untaint handlers, might fix an issue discussed on the Rails ML
  * added verbose mode to breakpoint_client
  * less noise caused by breakpoint_client by default
  * ignored TerminateLineInput exception in signal handler
    =&gt; quiet exit on Ctrl-C
</pre>
</li>
<li>Fixed Inflector for words like &quot;news&quot; and &quot;series&quot; that
are the same in plural and singular 603 [echion], 615 [marcenuc]

</li>
<li>Added Hash#stringify_keys and Hash#stringify_keys!

</li>
<li>Added IndifferentAccess as a way to wrap a hash by a symbol-based store
that also can be accessed by string keys

</li>
<li>Added Inflector.constantize to turn &quot;Admin::User&quot; into a
reference for the constant Admin::User

</li>
<li>Added that Inflector.camelize and Inflector.underscore can deal with
modules like turning &quot;Admin::User&quot; into &quot;admin/user&quot;
and back

</li>
<li>Added Inflector.humanize to turn attribute names like employee_salary into
&quot;Employee salary&quot;. Used by automated error reporting in AR.

</li>
<li>Added availability of class inheritable attributes to the masses 477
[Jeremy Kemper]

<pre>
  class Foo
    class_inheritable_reader :read_me
    class_inheritable_writer :write_me
    class_inheritable_accessor :read_and_write_me
    class_inheritable_array :read_and_concat_me
    class_inheritable_hash :read_and_update_me
  end

  # Bar gets a clone of (not a reference to) Foo's attributes.
  class Bar &lt; Foo
  end

  Bar.read_and_write_me == Foo.read_and_write_me
  Bar.read_and_write_me = 'bar'
  Bar.read_and_write_me != Foo.read_and_write_me
</pre>
</li>
<li>Added Inflections as an extension on String, so
Inflector.pluralize(Inflector.classify(name)) becomes
name.classify.pluralize 476 [Jeremy Kemper]

</li>
<li>Added Byte operations to Numeric, so 5.5.megabytes + 200.kilobytes 461
[Marcel Molina Jr.]

</li>
<li>Fixed that Dependencies.reload can&#8216;t load the same file twice 420
[Kent Sibilev]

</li>
<li>Added Fixnum#ago/until, Fixnum#since/from_now 450 [Jeremy Kemper]

</li>
<li>Added that Inflector now accepts Symbols and Classes by calling .to_s on
the word supplied

</li>
<li>Added time unit extensions to <a
href="../../../../../../../../../classes/Fixnum.html">Fixnum</a>
that&#8216;ll return the period in seconds, like 2.days + 4.hours.

</li>
</ul>

    </div>


   </div>


  </div>


    <!-- if includes -->

    <div id="section">





      


    <!-- if method_list -->


  </div>


<div id="validator-badges">
  <p><small><a href="http://validator.w3.org/check/referer">[Validate]</a></small></p>
</div>

</body>
</html>